{% raw %}
  {% assign root_url = {% endraw %}"{%- if routes.root_url != "/" -%}{{ routes.root_url }}{%- endif -%}"{% raw %} %}
  {% assign currencyFormat = {% endraw %}{{ shop.money_format | json }}{% raw %} %}
  {% assign swatch_options = 'Colour~~Color' | downcase | split: "~~" | uniq  %}
  {% assign image_options  = '' | downcase | split: "~~" | uniq  %}
  {% assign text_options   = 'Size' | downcase | split: "~~" | uniq  %}
  {% assign show_selected_variant_info = true %}
 
  {% assign image_size     = '360x504' %}
  {% assign images_count   = product.images | size %}
  {% assign variants_count = product.variants | size %}
  {% assign options_count  = product.options | size %}
  {% assign no_image = 'https://cdn.shopify.com/s/images/themes/product-1.png' %}

  {% assign featured_image            = product.featured_image %}
  {% assign product_price             = product.price %}
  {% assign product_compare_at_price  = product.compare_at_price %}
  {% assign second_image_index        = 2 %}
  {% assign selected_or_first_available_variant = product.selected_or_first_available_variant %}
  {% assign variant_url = '' %}
  {% if product.selected_or_first_available_variant %}{% assign variant_url = '?variant=' | append: product.selected_or_first_available_variant.id %}{% endif %}  {% if show_selected_variant_info and product.selected_variant %}
    {% assign selected_or_first_available_variant = product.selected_variant %}
    {% assign product_price             = selected_or_first_available_variant.price %}
    {% assign product_compare_at_price  = selected_or_first_available_variant.compare_at_price %}
    {% if selected_or_first_available_variant.image %}
      {% assign featured_image = selected_or_first_available_variant.image %}
    {% endif %}
  {% endif %}

  {% for image in product.images %}
    {% if image.id == featured_image.id %}
      {% if forloop.index == images_count %}
        {% assign second_image_index = 1 %}
      {% else %}
        {% assign second_image_index = forloop.index | plus: 1 %}
      {% endif %}
    {% endif %}
  {% endfor %}

      {%- assign color_label = 'color,colour,couleur,cor,colore,farbe,색,色,カラー,färg,farve,szín,barva' | split: ',' -%}
  {%- assign items_per_page = section.settings.default_products_per_page -%}
  {%- assign quick_links_menu = section.settings.quick_links -%}
  {%- assign quick_links_menu_size = quick_links_menu.links | size -%}
  {%- assign view_mode = section.settings.default_view_layout -%}

  {%- if quick_links_menu_size > 0 or section.settings.show_filters and collection.filters != empty -%}
  {%- assign has_filters = true -%}
  {%- else -%}
  {%- assign has_filters = false -%}
  {%- endif -%}

  {%- if has_filters -%}
  {%- capture grid_classes -%}1/3--tablet-and-up 1/{{ section.settings.products_per_row }}--desk{%- endcapture -%}
  {%- else -%}
  {%- capture grid_classes -%}1/3--tablet 1/{{ section.settings.products_per_row }}--lap-and-up{%- endcapture -%}
  {%- endif -%}

  {%- if view_mode == 'grid' -%}
  {%- assign show_as_list = false -%}
  {%- else -%}
  {%- assign show_as_list = true -%}
  {%- endif -%}

  {% assign list = show_as_list %}
  {% assign grid_classes = grid_classes %}

  <div{% if showPageData %} data-page="{{page}}"{% endif %} class="product-item {% if horizontal %}product-item--horizontal{% elsif list %}product-item--list{% else %}product-item--vertical{% endif %} {% if section.id == 'blog-sidebar' %}product-item--compact{% endif %} {{ grid_classes }}">
        {%- capture product_labels -%}
    {%- unless hide_labels -%}
    {%- for tag in product.tags -%}
    {%- if tag contains '__label:' -%}
    <span class="product-label product-label--custom1">{{ tag | split: '__label:' | last }}</span>
    {%- endif -%}

    {%- if tag contains '__label1:' -%}
    <span class="product-label product-label--custom1">{{ tag | split: '__label1:' | last }}</span>
    {%- endif -%}

    {%- if tag contains '__label2:' -%}
    <span class="product-label product-label--custom2">{{ tag | split: '__label2:' | last }}</span>
    {%- endif -%}
    {%- endfor -%}

    {%- if settings.show_discount and product.price < product.compare_at_price -%}
    {%- if settings.discount_mode == 'percentage' -%}
    {%- assign savings = product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | round | append: '%' -%}
    {%- else -%}
    {%- capture savings -%}<span>{{ product.compare_at_price | minus: product.price | money }}</span>{%- endcapture -%}
    {%- endif -%}

    <span class="product-label product-label--on-sale">{% endraw %}{{ 'collection.product.discount_html' | t }}{% raw %}</span>
    {%- endif -%}
    {%- endunless -%}
    {%- endcapture -%}

    {%- if product_labels != blank -%}
    <div class="product-item__label-list">
      {{- product_labels -}}
    </div>
    {%- endif -%}

    {%- if settings.show_secondary_image and images_count > 1 -%}
    {%- assign show_secondary_media = true -%}
    {%- else -%}
    {%- assign show_secondary_media = false -%}
    {%- endif -%}

    {%- assign filtered_variant = '' -%}

    {%- if images_count > 0 -%}
    {%- assign primary_media = product.featured_image -%}

    <a href="{{ product.url }}{{variant_url}}" class="product-item__image-wrapper {% if show_secondary_media %}product-item__image-wrapper--with-secondary{% endif %}">
      <div class="aspect-ratio {% if settings.product_image_size != 'natural' %}aspect-ratio--{{ settings.product_image_size }}{% endif %}" style="padding-bottom: {{ 100.0 | divided_by: featured_image.aspect_ratio }}%">
        <img class="product-item__primary-image gflazyload image--fade-in" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" src="{{ featured_image.src | img_url: '60x' }}" data-media-id="{{ featured_image.id }}" data-src="{{featured_image.src | img_lazyload_url}}" data-sizes="auto" data-widths="[200,300,400,500,600,700,800]" alt="{{ featured_image.alt | escape }}">
        {% if show_secondary_media %}
        <img class="product-item__secondary-image gflazyload image--fade-in" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" src="{{ product.images[1].src | img_url: '60x' }}" data-src="{{ product.images[1].src | img_lazyload_url }}" data-sizes="auto" data-widths="[200,300,400,500,600,700,800]" alt="{{ product.images[1].alt | escape }}">
        {% endif %}
        <noscript>
          <img src="{{ featured_image.src | img_url: '600x' }}" alt="{{ featured_image.alt | escape }}">
        </noscript>
      </div>
    </a>
    {%- endif -%}

    <div class="product-item__info">
      <div class="product-item__info-inner">
        {%- capture price_list -%}
        <div class="product-item__price-list price-list">
          {%- if product.price < product.compare_at_price -%}
          {%- if product.price_varies -%}
          {%- if settings.currency_code_enabled -%}
          {%- capture price_min -%}{{ product.price_min | money_with_currency }}{%- endcapture -%}
          {%- capture price_max -%}{{ product.price_max | money_with_currency }}{%- endcapture -%}
          {%- else -%}
          {%- capture price_min -%}{{ product.price_min | money }}{%- endcapture -%}
          {%- capture price_max -%}{{ product.price_max | money }}{%- endcapture -%}
          {%- endif -%}

          <span class="price price--highlight">
            <span class="visually-hidden">{% endraw %}{{ 'product.general.sale_price' | t }}{% raw %}</span>
            {% endraw %}{{- 'collection.product.from_price_html' | t -}}{% raw %}
          </span>

          <span class="price price--compare">
            <span class="visually-hidden">{% endraw %}{{ 'product.general.regular_price' | t }}{% raw %}</span>

            {%- if settings.currency_code_enabled -%}
            {{- product.compare_at_price_min | money_with_currency -}}
            {%- else -%}
            {{- product.compare_at_price_min | money -}}
            {%- endif -%}
          </span>
          {%- else -%}
          <span class="price price--highlight">
            <span class="visually-hidden">{% endraw %}{{ 'product.general.sale_price' | t }}{% raw %}</span>

            {%- if settings.currency_code_enabled -%}
            {{- product.price | money_with_currency -}}
            {%- else -%}
            {{- product.price | money -}}
            {%- endif -%}
          </span>

          <span class="price price--compare">
            <span class="visually-hidden">{% endraw %}{{ 'product.general.regular_price' | t }}{% raw %}</span>
            {%- if settings.currency_code_enabled -%}
            {{- product.compare_at_price | money_with_currency -}}
            {%- else -%}
            {{- product.compare_at_price | money -}}
            {%- endif -%}
          </span>
          {%- endif -%}
          {%- elsif product.price_varies -%}
          {%- if settings.currency_code_enabled -%}
          {%- capture price_min -%}{{ product.price_min | money_with_currency }}{%- endcapture -%}
          {%- capture price_max -%}{{ product.price_max | money_with_currency }}{%- endcapture -%}
          {%- else -%}
          {%- capture price_min -%}{{ product.price_min | money }}{%- endcapture -%}
          {%- capture price_max -%}{{ product.price_max | money }}{%- endcapture -%}
          {%- endif -%}

          <span class="price">
            <span class="visually-hidden">{% endraw %}{{ 'product.general.sale_price' | t }}{% raw %}</span>
            {% endraw %}{{- 'collection.product.from_price_html' | t -}}{% raw %}
          </span>
          {%- else -%}
          <span class="price">
            <span class="visually-hidden">{% endraw %}{{ 'product.general.sale_price' | t }}{% raw %}</span>
            {%- if settings.currency_code_enabled -%}
            {{- product.price | money_with_currency -}}
            {%- else -%}
            {{- product.price | money -}}
            {%- endif -%}
          </span>
          {%- endif -%}
        </div>

        {%- endcapture -%}

        {%- capture vendor -%}
        {%- if settings.show_vendor -%}
        {%- assign vendor_handle = product.vendor | handle -%}
        {%- assign collection_for_vendor = {% endraw %}"{{ collections[vendor_handle] }}"{% raw %} -%}

        {%- unless collection_for_vendor.empty? -%}
        <a class="product-item__vendor link" href="{{ collection_for_vendor.url }}">{{ product.vendor }}</a>
        {%- else -%}
        <a class="product-item__vendor link" href="/collections/vendors?q={{product.vendor | url_encode}}">{{ product.vendor }}</a>
        {%- endunless -%}
        {%- endif -%}
        {%- endcapture -%}

        {%- if settings.product_price_position == 'before_title' -%}
        {{ price_list }}
        {%- endif -%}

        {%- if settings.product_price_position == 'after_title' -%}
        {{ vendor }}
        {%- endif -%}

        <a href="{{ filtered_variant.url | default: product.url }}" class="product-item__title text--strong link">{{ product.title }}</a>

        {%- if settings.product_price_position == 'before_title' -%}
        {{ vendor }}
        {%- endif -%}

        
        {% if settings.show_color_swatch %}
        {% capture color_swatch %}
        {% capture color_name %}collection-template-{{ product.id }}{% endcapture %}

        {% for option in product.options %}
        {% assign downcased_option = option.name | downcase %}

        {% if color_label contains downcased_option %}
        {% assign variant_option = 'option' | append: forloop.index %}
        {% assign value_to_match = selected_or_first_available_variant[variant_option] | default: option.selected_value %}

        {% for value in option.values %}
        {% assign downcased_value = value | downcase %}
        {% capture color_id %}{{ color_name }}-{{ forloop.index }}{% endcapture %}
        {% assign variant_for_value = false %}
        {% for variant in product.variants %}
        {% if variant_for_value == false and variant[variant_option] == value %}
        {% assign variant_for_value = variant %}
        {% endif %}
        {% endfor %}
        
        {%- assign color_value_downcase = value | downcase -%}

        <div class="color-swatch {% if downcased_value == 'white' or downcased_value == 'blanc' %}color-swatch--white{% endif %}">
          {% assign color_swatch_name = value | handle | append: '.png' %}
          {% assign value = downcased_value %}
          {%- assign color_swatch_style = 'background-color: ' | append: color_value_downcase -%}

          {%- for color_swatch_item in color_swatch_config -%}
          {%- assign color_swatch_parts = color_swatch_item | split: ':' -%}
          {%- assign color_swatch_name = color_swatch_parts.first | downcase | strip -%}

          {%- if color_value_downcase == color_swatch_name -%}
          {%- assign color_swatch_value = color_swatch_parts.last | strip -%}

          {%- if color_swatch_value contains '#' -%}
          {%- assign color_swatch_style = 'background-color: ' | append: color_swatch_value -%}
          {%- elsif images[color_swatch_value] != blank -%}
          {%- assign color_swatch_image = images[color_swatch_value] | img_url: '72x72' -%}
          {%- assign color_swatch_style = 'background-image: url(' | append: color_swatch_image | append: ')' -%}
          {%- endif -%}

          {%- break -%}
          {%- endif -%}
          {%- endfor -%}
          <input class="color-swatch__radio" type="radio" name="{{ color_name }}" id="{{ color_id }}" value="{{ value | escape }}" {% if value_to_match == value %}checked="checked"{% endif %} data-variant-url="{{ root_url }}{{ product.url | within: collection }}?variant={{variant_for_value.id}}" {% if variant_for_value.image %}data-image-id="{{ variant_for_value.image.id }}" data-image-url="{{ variant_for_value.image.src | img_lazyload_url }}" data-image-widths="[200,300,400,500,600,700,800]" data-image-aspect-ratio="{{ variant_for_value.image.aspect_ratio }}"{% endif %} aria-hidden="true">
          <label class="color-swatch__item" for="{{ color_id }}" style="{{- color_swatch_style -}}" title="{{ value | escape }}"></label>
          <a href="{{ root_url }}{{ product.url | within: collection }}{{variant_url}}" class="color-swatch__item-link">+{{ option.values | size | minus: forloop.index0 }}</a>
        </div>
        {% endfor %}
        {% endif %}
        {% endfor %}
        {% endcapture %}

        {%- if color_swatch != blank -%}
        <div class="product-item__swatch-list">
          <div class="color-swatch-list">
            {{ color_swatch }}
          </div>
        </div>
        {%- endif -%}
        {%- endif -%}

        {%- if settings.product_price_position == 'after_title' -%}
        {{ price_list }}
        {%- endif -%}

        {%- if settings.show_reviews_badge -%}
        <a class="product-item__reviews-badge link" href="{{ product.url }}#product-reviews">
          <span class="shopify-product-reviews-badge" data-id="{{product.id}}"></span>
        </a>
        {%- endif -%}

        {%- if settings.show_inventory_quantity and product.template_suffix != 'pre-order' -%}
        {%- if product.available -%}
        {%- assign should_calculate_inventory = true -%}

        {%- for variant in product.variants -%}
        {%- comment -%}
        If we have one variant that is set to "continue" or that do not have any inventory management, then we skip the calculation of inventory as this
        means at least one of the variant is always purchasable
        {%- endcomment -%}

        {%- if variant.inventory_policy == 'continue' or variant.inventory_management == null -%}
        {%- assign should_calculate_inventory = false -%}
        {%- break -%}
        {%- endif -%}
        {%- endfor -%}

        {%- if should_calculate_inventory and settings.low_inventory_threshold > 0 -%}
        {%- assign all_inventory = 0 -%}

        {%- for variant in product.variants -%}
        {%- if variant.inventory_management -%}
        {%- assign all_inventory = variant.inventory_quantity | at_least: 0 | plus: all_inventory -%}
        {%- endif -%}
        {%- endfor -%}
        {% assign count = all_inventory %}
        {%- if all_inventory <= settings.low_inventory_threshold -%}
        <span class="product-item__inventory inventory inventory--low">{% endraw %}{{ 'collection.product.low_stock_with_quantity_count.one' | t }}{% raw %}</span>
        {%- else -%}
        <span class="product-item__inventory inventory inventory--high">{% endraw %}{{ 'collection.product.in_stock_with_quantity_count.other' | t }}{% raw %}</span>
        {%- endif -%}
        {%- else -%}
        {%- if product.variants.first.inventory_policy == 'continue' and product.variants.first.inventory_quantity <= 0 and product.variants.first.requires_shipping -%}
        <span class="product-item__inventory inventory inventory--high">{% endraw %}{{ 'collection.product.oversell_stock' | t }}{% raw %}</span>
        {%- else -%}
        <span class="product-item__inventory inventory inventory--high">{% endraw %}{{ 'collection.product.in_stock' | t }}{% raw %}</span>
        {%- endif -%}
        {%- endif -%}
        {%- else -%}
        <span class="product-item__inventory inventory">{% endraw %}{{ 'collection.product.sold_out' | t }}{% raw %}</span>
        {%- endif -%}
        {%- endif -%}
      </div>

      {%- if section.settings.show_quick_view == 'list_grid' or section.settings.show_quick_buy == 'list_grid' -%}
      {%- assign product_form_classes = 'product-item__action-list button-stack' -%}
      {%- else -%}
      {%- assign product_form_classes = 'product-item__action-list product-item__action-list--list-view-only button-stack' -%}
      {%- endif -%}

      {%- assign form_id = 'product_form_id_' | append: product.id | append: '_' | append: section.id -%}

      <form method="post" action="/cart/add" id="{{ form_id }}" accept-charset="UTF-8" class="{{ product_form_classes }}" enctype="multipart/form-data">
        <input type="hidden" name="quantity" value="1">
        <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">

        {%- if section.settings.show_quick_buy == 'list_grid' -%}
        {%- assign quick_buy_classes = 'product-item__action-button button button--small button--primary' -%}
        {%- else -%}
        {%- assign quick_buy_classes = 'product-item__action-button product-item__action-button--list-view-only button button--small button--primary' -%}
        {%- endif -%}

        {%- if product.available -%}
        {%- if variants_count == 1 -%}
        <button type="submit" class="{{ quick_buy_classes }}" data-action="add-to-cart">
          {%- if product.template_suffix == 'pre-order' -%}
          {% endraw %}{{- 'collection.product.pre_order' | t -}}{% raw %}
          {%- else -%}
          {% endraw %}{{- 'collection.product.add_to_cart' | t -}}{% raw %}
          {%- endif -%}
        </button>
        {%- else -%}
        <a href="{{ product.url }}{{variant_url}}" class="{{ quick_buy_classes }}">{% endraw %}{{ 'collection.product.choose_options' | t }}{% raw %}</a>
        {%- endif -%}
        {%- else -%}
        <button class="{{ quick_buy_classes | replace: 'button--primary', 'button--disabled' }}" disabled>{% endraw %}{{ 'collection.product.sold_out' | t }}{% raw %}</button>
        {%- endif -%}

        {%- if section.settings.show_quick_view == 'list_grid' -%}
        {%- assign quick_view_classes = 'product-item__action-button button button--small button--ternary hidden-phone' -%}
        {%- else -%}
        {%- assign quick_view_classes = 'product-item__action-button product-item__action-button--list-view-only button button--small button--ternary hidden-phone' -%}
        {%- endif -%}

        <button type="button" class="{{ quick_view_classes }}" data-action="open-modal" data-secondary-action="open-quick-view" aria-controls="modal-quick-view-{{ section.id }}" data-product-url="{{ product.url }}">{% endraw %}{{ 'collection.product.quick_view' | t }}{% raw %}</button>
      </form>

    </div>
  </div>
  {% endraw %}
