<div class="product-form__payment-container" {{ block.shopify_attributes }}>
  <div class="select-size-no d-none"><svg t="1656656102365" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2538" width="200" height="200"><path d="M549.28 579.584c-2.528 27.584-20.064 40.48-37.376 40.48-12.864 0 0 0 0 0-16.448-3.104-29.216-10.112-34.816-38.016l-22.624-260.8c0-26.208 31.872-49.408 58.912-49.408s56.16 24.256 56.16 50.432L549.28 579.584zM512 654.176c-27.04 0-48.992 21.92-48.992 48.992s21.92 49.024 48.992 49.024 48.992-21.952 48.992-49.024c0-27.04-21.92-48.992-48.992-48.992zM899.808 512c0 214.176-173.6 387.776-387.84 387.776-214.144 0-387.776-173.6-387.776-387.776s173.632-387.808 387.776-387.808c214.208 0 387.84 173.632 387.84 387.808zM828 512c0-174.528-141.472-315.968-316-315.968S196.032 337.472 196.032 512c0 174.496 141.44 315.968 315.968 315.968S828 686.496 828 512z" p-id="2539"></path></svg>Please Select Size</div>
  {% for tag in product.tags %}
    {%- if forloop.index == 1 -%}
      {%- assign tags = tag | handleize -%}
    {%- else -%}
      {%- assign tagtitlie = tag | handleize -%}
      {%- assign tags = tags | append: "," | append: tagtitlie -%}
    {%- endif -%}
  {% endfor %}

 {%- for line_item in cart.items -%}
  {%- if forloop.index == 1 -%}
    {%- assign id = line_item.sku -%}
  {%- else -%}
    {%- assign id = id  | append: "," | append: line_item.sku  -%}
  {%- endif  -%}
 {%- endfor  -%}
  {%- if product.template_suffix != 'contact' -%}
    {%- if product.selected_or_first_available_variant.available -%}
      {%- if product.template_suffix == 'pre-order' -%}
        <button type="submit" class="product-form__add-button button button--primary" data-action="add-to-cart" >{{ 'product.form.pre_order' | t }}</button>
      {%- else -%}
        <button type="submit" class="product-form__add-button button button--primary"
         data-scenable="1" data-sctype="addCart"
         data-productid="{{product.id}}"
         data-scdata='{"is_quick_view":{% if template == "product.quick-view" %}1{% else %}0{% endif %},
							"commodity_spuid": "{{product.handle}}",
               "commodity_name": "{{product.title | handleize }}",
							"currency_unit":"USD",
							"commodity_skuid":"{{ product.selected_or_first_available_variant.sku }}",
              "commodity_size":"",
				      "commodity_color":"",
							"commodity_image_quantity":"{{product.images.size}}",
              "commodity_description_text":["{{product.description | handleize }}"],
				      "commodity_description_image":["{{ product.featured_image | image_url | split: "?" | first  }}"],
							"commodity_tag":"{{ tags }}",
              "commodity_type":"{{product.type | handleize}}",
							"original_price":"{{ product.selected_or_first_available_variant.compare_at_price }}",
			      	"current_price":"{{ product.selected_or_first_available_variant.price }}",
              "discount_price":"",
              "compliment_commodities":"{{ id }}",
              "bonus_name":"",
              "bonus_amount":0,
              "entrance":"{%- if isQuickView -%}QuickView_AddToCart{%- else -%}CommodityDetailPage_AddToCart{%- endif -%}"}'
         data-action="add-to-cart" >{{ 'product.form.add_to_cart' | t }}</button>
      {%- endif -%}
    {%- else -%}
      <button type="submit" class="product-form__add-button button button--disabled" disabled>{{ 'product.form.sold_out' | t }}</button>
    {%- endif -%}

    {%- if block.settings.show_payment_button and product.template_suffix != 'pre-order' -%}
      <div
      data-scenable="1"
      data-sctype="addCart"
      data-scsession='{"entrance":"QuickView_BuyItNow"}'
      data-scdata='{
        "is_quick_view":{% if template == "product.quick-view" %}1{% else %}0{% endif %},
							"commodity_spuid": "{{product.handle}}",
               "commodity_name": "{{product.title | handleize }}",
							"currency_unit":"USD",
							"commodity_skuid":"",
              "commodity_size":"",
				      "commodity_color":"",
							"commodity_image_quantity":"{{product.images.size}}",
              "commodity_description_text":["{{product.description | handleize }}"],
				      "commodity_description_image":["{{ product.featured_image | image_url | split: "?" | first  }}"],
							"commodity_tag":"{{ tags }}",
              "commodity_type":"{{product.type | handleize}}",
							"original_price":"{{ product.selected_or_first_available_variant.compare_at_price }}",
			      	"current_price":"{{ product.selected_or_first_available_variant.price }}",
              "discount_price":"",
              "compliment_commodities":"{{ id }}",
              "bonus_name":"",
              "bonus_amount":0,
              "entrance":"QuickView_BuyItNow"}'>
    {{ form | payment_button }}</div>
    {%- endif -%}
  {%- else -%}
    <a href="mailto:{{ shop.email }}" class="button button--primary">{{ 'product.form.contact_us' | t }}</a>
  {%- endif -%}

  {%- if block.settings.show_payment_button and product.selected_or_first_available_variant.available == false -%}
    <style>
      #shopify-section-{{ section.id }} .shopify-payment-button {
        display: none;
      }
    </style>
  {%- endif -%}
</div>


<div data-pp-message data-pp-placement="product" data-pp-amount="{{cart.total_price| money_without_currency }}" data-pp-buyercountry="US" data-pp-style-align="center"></div>

