<section class="hidden-lap-and-up account">
	<div class="header-me container">
		{%- if customer -%}

		{%- comment -%}
		<!-- <input type="checkbox" id="account-input" class="account-input hidden">
		<ul class="logged">
			<li class=" text-l name"><span class="hi">Hi!&nbsp;</span>{{ customer.first_name }}</li>
			<li class=" text-r tab"><label for="account-input">{%- render 'icon', icon: 'arrow-bottom' -%}</label></li>
		</ul> -->
		{%- endcomment -%}

		<div class="account-box">
			<h3 class="mobile-account__title">My Service</h3>
			<div class="card__linklist ">
				<left-nav-list>
					<div class="render_nav_list d-flex mobile-account__nav">
						{%- for block in section.blocks -%}
						{%- if block.settings.nav_show -%}
						<div class="card__linklist-item link" style="cursor:pointer ;"
							data-right="{{block.settings.nav_right}}">
							<span> {%- render 'icon', icon: {{block.settings.nav_icon}} -%}</span>
							<span> {{block.settings.nav_title}} </span>
						</div>
						{%- endif -%}
						{%- endfor -%}
						<a href="{{ routes.account_logout_url }}" class="card__linklist-item link" data-no-instant>{% render 'icon',
							icon :"account-logout" %} {{ 'customer.general.logout' | t }}</a>
					</div>
				</left-nav-list>
			</div>
		</div>

		{%- else -%}
		<ul class="no-logged">
			<li class="text-l"><a href="{{ routes.account_login_url }}?return_url={{ page.url }}">LOGIN &gt;</a></li>
			<li class="text-r"><a href="{{ routes.account_register_url }}">CREATE ACCOUNT&gt;</a></li>
		</ul>
		{%- endif -%}
	</div>

</section>

<section data-section-id="{{ section.id }}" data-section-type="account" id="account">
	{%- comment -%}{%- endcomment -%}
	<div class="page__sub-header hidden-tablet">
		<nav aria-label="{{ 'general.breadcrumb.title' | t }}" class="breadcrumb">
			<ol class="breadcrumb__list" role="list">
				<li class="breadcrumb__item">
					<a class="breadcrumb__link link"
						href="{{ routes.root_url }}">{{ 'general.breadcrumb.home' | t }}</a>
					{%- render 'icon', icon: 'arrow-right' -%}
				</li>
				<li class="breadcrumb__item">
					<a class="breadcrumb__link link"
						href="{{ routes.account_url }}">{{ 'general.breadcrumb.account' | t }}</a>
					{%- render 'icon', icon: 'arrow-right' -%}
				</li>

				<li class="breadcrumb__item">
					<span class="breadcrumb__link" aria-current="page">Account Overview</span>
				</li>
			</ol>
		</nav>
	</div>
	<div class="container container--flush">
		<div class="layout">
			<div class="layout__section layout__section--secondary hidden-phone">
				{%- comment -%}自定义导航栏{%- endcomment -%}
				<div class="card card--sticky hidden-pocket">
					<div class="card__section card__section--tight">
						<div class="card__linklist table-left-nav">
						  <left-nav-list>
							  <div class="render_nav_list ">
							{%- for block in section.blocks -%}
							{%- if block.settings.nav_show -%}
							<div class="card__linklist-item link" style="cursor:pointer ;" data-right="{{block.settings.nav_right}}"> 
								<span> {%- render 'icon', icon: {{block.settings.nav_icon}} -%}</span>
							<span>{{block.settings.nav_title}}</span>
							</div>
							{%- endif -%}
							{%- endfor -%}
							<a href="{{ routes.account_logout_url }}" class="card__linklist-item link"
								 data-no-instant>{% render 'icon', icon :"account-logout" %} {{ 'customer.general.logout' | t }}</a>
						</div>
						</left-nav-list>
						</div>
					</div>
				</div>
				{%- comment -%}自定义导航栏 END{%- endcomment -%}
				<div class="value-picker-wrapper hidden-tablet-and-up">
					<button class="value-picker-button value-picker-button--pill" aria-haspopup="true"
						aria-expanded="false" aria-controls="account-selector" data-action="open-value-picker">
						{{- 'customer.general.orders' | t -}} {%- render 'icon', icon: 'arrow-bottom' -%}
					</button>

					<div id="account-selector" class="value-picker" aria-hidden="true">
						<div class="value-picker__inner">
							<header class="value-picker__header">
								<span
									class="value-picker__title text--strong">{{ 'customer.general.my_account' | t }}</span>
								<button class="value-picker__close" data-action="close-value-picker"
									aria-controls="account-selector"
									aria-label="{{ 'general.accessibility.close' | t }}">{% render 'icon', icon: 'close' %}</button>
							</header>
							<div class="value-picker__choice-list">
								<a href="{{ routes.account_url }}"
									class="value-picker__choice-item is-selected">{{ 'customer.general.orders' | t }}
									{% render 'icon', icon: 'check-2' %}</a>
								<a href="{{ routes.account_addresses_url }}"
									class="value-picker__choice-item">{{ 'customer.general.addresses' | t }}
									{% render 'icon', icon: 'check-2' %}</a>
								<a href="{{ routes.account_logout_url }}" class="value-picker__choice-item"
									data-no-instant>{{ 'customer.general.logout' | t }}
									{% render 'icon', icon: 'check-2' %}</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="layout__section ">
				{%- comment -%}收藏列表{%- endcomment -%}
				<div class="wish_list account_right_content">
					<header>
						<h1 class="center wish_title">MY WISHLIST</h1>
					</header>

                    <div class="wish_loading">
						<div class="body-me loading">
						{%- render 'icon', icon: 'cjj_loading' -%}
						<span class="loading-text">&nbsp;loading...</span>
					</div>
				</div>
				
					<div class="collect page-width">

					</div>					

					<div id="czquickview" class="modal" aria-hidden="true">
						<div class="modal__dialog modal__dialog--stretch" role="dialog">
						  <button class="modal__close link" data-action="close-modal" title="Close"><svg focusable="false" class="icon icon--close " viewBox="0 0 19 19" role="presentation">
						<path d="M9.1923882 8.39339828l7.7781745-7.7781746 1.4142136 1.41421357-7.7781746 7.77817459 7.7781746 7.77817456L16.9705627 19l-7.7781745-7.7781746L1.41421356 19 0 17.5857864l7.7781746-7.77817456L0 2.02943725 1.41421356.61522369 9.1923882 8.39339828z" fill="currentColor" fill-rule="evenodd"></path>
					</svg></button>
					
						  <div class="modal__loader"><svg focusable="false" class="icon icon--search-loader " viewBox="0 0 64 64" role="presentation">
						<path opacity=".4" d="M23.8589104 1.05290547C40.92335108-3.43614731 58.45816642 6.79494359 62.94709453 23.8589104c4.48905278 17.06444068-5.74156424 34.59913135-22.80600493 39.08818413S5.54195825 57.2055303 1.05290547 40.1410896C-3.43602265 23.0771228 6.7944697 5.54195825 23.8589104 1.05290547zM38.6146353 57.1445143c13.8647142-3.64731754 22.17719655-17.89443541 18.529879-31.75914961-3.64743965-13.86517841-17.8944354-22.17719655-31.7591496-18.529879S3.20804604 24.7494569 6.8554857 38.6146353c3.64731753 13.8647142 17.8944354 22.17719655 31.7591496 18.529879z">
						</path>
						<path d="M1.05290547 40.1410896l5.80258022-1.5264543c3.64731754 13.8647142 17.89443541 22.17719655 31.75914961 18.529879l1.5264543 5.80258023C23.07664892 67.43614731 5.54195825 57.2055303 1.05290547 40.1410896z">
						</path>
					</svg></div>
					
						  <div class="modal__inner">
							   <div class="abc"></div>
						  </div>
						</div>
					  </div>

					{%- if customer -%}
					<div class="collect-body">
						<div class=" collect-body-layout">
						<div class="wish_center">
							You currently have nothing saved to your Wishlist.<br />
							Personalize your shopping experience with your Wishlist.
						</div>
						<div class="d-flex aic jcc sign-button">
							<a href="/collections/shop" class="sign-button">Let's Get Started!</a>
						</div>
					</div>
					</div>
					{%- endif -%}
{%- comment -%}
{%- endcomment -%}
<script>
	async function post_data(url, data) {
		const response = await fetch(`https://api-dev.leandow-technology.com/api/${url}`, {
			method: 'POST',
			mode: 'cors',
			cache: 'no-cache',
			credentials: 'same-origin',
			headers: {
				'Content-Type': 'application/json',
				"siteValue": "leandowTest",
				"Access-Control-Allow-Origin": "*"
			},
			redirect: 'follow',
			referrerPolicy: 'no-referrer',
			body: JSON.stringify(data)
		});
		return response.json();
	}

	function getCollectList(event) {

		var pageSectionId = document.querySelector(".page__sub-header").parentElement.getAttribute("data-section-id")
		const collectList = {
			current: 1,
			customerId: "{{customer.id}}",
			size: 100
		}
		post_data("customerCollectionProduct/collectionProductList", collectList)
			.then(res => {
				if (res.data.records.length < 1) {
					document.querySelector('.collect-body').style.display = "block"
					document.querySelector(".wish_loading").style.display = "none"
					return
				}
				// document.querySelector(".collection-num").innerHTML = res.data.total
				var ids = ""
				res.data.records.forEach((item, index) => {
					if (index === 0) {
						ids = `id:${item.productId}`
					} else {
						ids = ids + " OR " + `id:${item.productId}`
					}
				});
				fetch(`/search?q=${ids}&type=product`)
					.then((rs) => {
						return rs.text()
					})
					.then((rs) => {
						document.querySelector(".wish_loading").style.display = "none"

						let dom = new DOMParser().parseFromString(rs, 'text/html');

						dom.querySelector(".collection__toolbar").style.display = "none"

						document.querySelector('.collect').appendChild(dom.querySelector(
							".collection__dynamic-part"))

						document.querySelector('.collect').appendChild(dom.querySelector(
							".modal__dialog").parentElement)

						if (document.querySelector('.pagination__nav')) {
							document.querySelector('.pagination__nav').querySelectorAll(".pagination__nav-item")
								.forEach((item, index) => {
									item.addEventListener("click", nextCollectList)
								})
						}


						const removeNodes = document.querySelectorAll(".collect .add-collect")
						document.querySelector(".collect-body").style.display = "none"
						removeNodes.forEach((item, index) => {
							item.addEventListener("click", () => {
								document.querySelectorAll(
									`.collect .product-list .product-item`)[index].style
									.display = "none";
							})
						})
					})
			});
	}
	if ("{{ customer.id}}") {
		getCollectList()
	}


	function nextCollectList(event) {
		if (event) {
			event.preventDefault()
		}
		document.querySelector(".wish_loading").style.display = "flex"
		document.querySelector(".product-list--collection").style.display = "none"

		document.querySelectorAll(".pagination__nav-item").forEach((item) => {
			item.className = "pagination__nav-item link"
		})
		event.target.className = "pagination__nav-item link is-active"


		const collectList = {
			current: event.target.innerHTML * 1,
			customerId: "{{customer.id}}",
			size: 24
		}
		post_data("customerCollectionProduct/collectionProductList", collectList)
			.then(res => {


				if (res.data.records.length < 1) {
					document.querySelector('.collect-body').style.display = "block"
					return
				}
				var ids = ""

				res.data.records.forEach((item, index) => {
					if (index === 0) {
						ids = `id:${item.productId}`
					} else {
						ids = ids + " OR " + `id:${item.productId}`
					}
				});
				fetch(`/search?q=${ids}&type=product`)
					.then((rs) => {
						return rs.text()
					})
					.then((rs) => {
						let dom = new DOMParser().parseFromString(rs, 'text/html');

						document.querySelector(".product-list").remove()
						//  document.querySelector('.collection__dynamic-part').appendChild()
						document.querySelector('.collection__dynamic-part').insertBefore(dom.querySelector(
							".product-list"), document.querySelector(".collection__toolbar")
							.nextSibling);

						const removeNodes = document.querySelectorAll(".collect .add-collect")
						document.querySelector(".collect-body").style.display = "none"
						removeNodes.forEach((item, index) => {
							item.addEventListener("click", () => {
								document.querySelectorAll(
									`.collect .product-list .product-item`)[index].style
									.display = "none";
							})
						})
						document.querySelector(".wish_loading").style.display = "none"
						document.querySelector(".product-list--collection").style.display = "flex"
					})
			});
	}


</script>

				</div>

				{%- comment -%}订单列表{%- endcomment -%}
				<div class="card my_orders account_right_content">

					<div class="hidden-phone">
						
						{% render 'my-order-view' customer:customer%}
					</div>

					<div class="large_pad">
						<div class="order-me container">
							<h3 class="h3">{{- 'customer.general.orders' | t -}}</h3>
							<div class="icon-box">
								<ul class="icons" id="orders-list">
									<li data-item="orders-all" class="current">
										{%- render 'icon', icon: 'cjj_all' -%}<br />
										<span>All</span>
									</li>
									<li data-item="orders-unpaid">
										{%- render 'icon', icon: 'cjj_unpaid' -%}<br />
										<span>Unpaid</span>
									</li>
									<li data-item="orders-processing">
										{%- render 'icon', icon: 'cjj_processing' -%}<br />
										<span>Processing</span>
									</li>
									<li data-item="orders-shipped">
										{%- render 'icon', icon: 'cjj_shipped' -%}<br />
										<span>Shipped</span>
									</li>
									<li data-item="orders-payment">
										{%- render 'icon', icon: 'cjj_payment' -%}<br />
										<span>Payment</span>
									</li>
									<li data-item="orders-completed">
										{%- render 'icon', icon: 'cjj_completed' -%}<br />
										<span>Completed</span>
									</li>
									<li data-item="post-sale">
										{%- render 'icon', icon: 'cjj_post_sale' -%}<br />
										<span>Post-sale</span>
									</li>
								</ul>
							</div>
					
						</div>
						<div class="body-me loading" id="loading">
							{%- render 'icon', icon: 'cjj_loading' -%}
							<span class="loading-text">&nbsp;loading...</span>
						</div>
						<div class="card__section" id="order_null">
							<div class="empty-state empty-state--extra-tight">
								<div class="empty-state__icon">
									{%- render 'icon', icon: 'package' -%}
									<span class="empty-state__count">0</span>
								</div>
								<p class="empty-state__icon-description">{{ 'customer.general.no_orders' | t }}</p>
								<div class="empty-state__button-container">
									<a href="{{ routes.all_products_collection_url }}"
										class="empty-state__button button button--primary">{{ 'customer.general.no_orders_button' | t }}</a>
								</div>
							</div>
						</div>
					
						<div class="body-me" id="body_me">
							<!--渲染订单区域-->

						</div>
						<div class="post" id="post">
							<div class="container">
								<h3>
									{%- render 'icon', icon: 'bi-email' -%}&nbsp;&nbsp;
									<a href="mailto:contactus@hyfol.com" target="_blank" rel="noopener"
										aria-describedby="a11y-new-window-message">contactus@hyfol.com</a>
								</h3>
							</div>
						</div>
						<div class="advert-me container">
							<ul>
								<li><a href="{{ routes.cart_url }}">SHOPPING CART</a></li>
								<li><a href="{{ routes.root_url }}collections/hot-sale">HOT SALE</a></li>
							</ul>
						</div>
					</div>
	
				</div>
				
				{%- comment -%}vip规则说明{%- endcomment -%}
				<div class="my_overview account_right_content">
					<div class="vip-rules" style="display:none;">
					
						<div class="close-rule__page">{% render 'icon',icon:'close' %} </div>
					
						<h1 class="h1 vip-rules__title">About Rules</h1>
						<h3 class="h3">1. Introduction</h3>
						<div class="rule-tex">
							There is no fee for the HYFOL VIP. HYFOL VIP membership is limited to individuals only and limited to one
							account per individual.It is your identification that represent you are at legal ages to join our program
							and responsibility for your membership to keep your email and contact details up to date in your Account.HYFOL
							reserves the right to disqualify Members who have violated any Of theTerms and Conditions. Any
							fraudulent activity or attempt to manipulate or abuse the program will result in the account being
							removed from the program without notice. When a Membership is terminated, all outstanding coupons and
							outstanding rewards associated with the Membership are forfeited.
						</div>
						<h3 class="h3">2. Membership</h3>
						<div class="rule-tex">
							Every tier is valid for 12 months from the date the HYFOL VIP member qualifies(exclude silver member). identity
							validation is required every month.Data refreshes typically take up to 24 hours. Please check your level after
							24
							hours. Once you become a silver member,you will earn a life-long status. Please note that the level of your
							membership is based on the times of eligible purchases or the amount of eligible spending during the past 12
							months
							which is 45 days before the refresh date every month.
							<table border="1px" class="rule-table">
								<thead>
									<tr>
										<th> </th>
										<th>Silver</th>
										<th>Gold</th>
										<th>Platinum</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th>
											Points Redeem
										</th>
										<td>{% render 'icon',icon:"check" %}</td>
										<td>{% render 'icon',icon:"check" %}</td>
										<td>{% render 'icon',icon:"check" %}</td>
									</tr>
									<tr>
										<th>
											Level-up Coupon
										</th>
										<td></td>
										<td>{% render 'icon',icon:"check" %}</td>
										<td>{% render 'icon',icon:"check" %}</td>
									</tr>
									<tr>
										<th>
											Free Shipping Card
										</th>
										<td></td>
										<td>{% render 'icon',icon:"check" %}</td>
										<td>{% render 'icon',icon:"check" %}</td>
									</tr>
									<tr>
										<th>
											Birthday Gifts
										</th>
										<td></td>
										<td></td>
										<td>{% render 'icon',icon:"check" %}</td>
									</tr>
									<tr>
										<th>
											Exclusive Promotions
										</th>
										<td></td>
										<td></td>
										<td>{% render 'icon',icon:"check" %}</td>
									</tr>
								</tbody>
							</table>
							<p style="color:#919191 ;">( The Eligible Purchases means purchases on the HYFOL website during the past 12
								months which is 45 days
								before 10h every month.)</p>
						</div>
						<h3 class="h3">3. Rewards </h3>
						<div class="rule-tex">
							Membership in the program may entitle you to various ofers in addition to rewards . The details of these
							ofers are set out from time to time to your personal acCount.
						</div>
					</div>
				

					<div class="my-account">
						<div class="vip-page ">
							<div class="vip-overview">
								<div class="vip-user d-flex">
									<div class="vip-user__avatar">
										<img class="lazyload" alt="fill" src="{{ 'user.png' | asset_url}}">
									</div>
									<div class="vip-user__name">
										<span style="margin-bottom:6px; display: block;">{{customer.name}}</span>
										<div class="vip-icon__box">
											{%- render 'icon',icon:'vip',class:'vip' -%}
											<span class="vip-user__grade">Silver</span>
										</div>
										<div class="vip-icon__box">
											{% render "icon",icon:'integral' %}
											<span class="vip-integral">0</span>
										</div>
							
									</div>
								</div>
							
								<div class="vip-grade d-flex">
									<span class="vip-level__s0">
									</span>
									<span class="vip-solid"></span>
									<span class="vip-level__s1">
										<img src="{{'s1.png' | asset_url}}" alt="">
										<!-- <span class="vip-grade__name">Silver</span> -->
									</span>
									<span class="vip-solid"></span>
									<span class="vip-level__s2">
										<img src="{{'s2.png' | asset_url}}" alt="">
									<!-- <span class="vip-grade__name">Gold</span> -->
									</span>
									<span class="vip-solid"></span>
									<span class="vip-level__s3">
										<img src="{{'s3.png' | asset_url}}" alt="">
										<!-- <span class="vip-grade__name">Platinum</span> -->
									</span>
								</div>
								<p class="vip-info__title">Welcome to the HYFOL VIP</p>
							</div>
	
							<div class="vip-overview__rule">
								<p class="vip-upgrade__info">
								<span class="vip-upgrade__header">Silver: </span>	US$0.1 or 1 order(s) are required to become a silver member
								</p>
								<p class="vip-upgrade__info">
									<span class="vip-upgrade__header">Gold: </span>US$120 or 3 order(s) are required to become a gold member
								</p>
								<p class="vip-upgrade__info">
								<span class="vip-upgrade__header">Platinum: </span>	US$500 or 5 order(s) are required to become a platinum member
								</p>
								<summary class="vip-rules__link">
									About rules
								</summary>
							</div>
						</div>
						
						{%- assign order_unpaid = 0 -%}
						{%- assign order_processing = 0 -%}
						{%- assign order_shipped = 0 -%}
						{%- assign order_payment = 0 -%}
						{%- assign order_completed = 0 -%}
					
						{%- for order in customer.orders -%}
						{% if order.financial_status=='unpaid' or order.financial_status=='pending' %}
						{%- assign order_unpaid = order_unpaid | plus: 1 -%}
						{% endif%}
						{% if order.fulfillment_status=='on hold' %}
						{%- assign order_processing = order_processing | plus: 1 -%}
						{% endif %}
						{% if order.fulfillment_status=='in progress' %}
						{%- assign order_shipped = order_shipped | plus: 1 -%}
						{% endif%}
						{% if order.financial_status=='paid' %}
						{%- assign order_payment = order_payment | plus: 1 -%}
						{% endif %}
						{% if order.fulfillment_status=='fulfilled' %}
						{%- assign order_completed = order_completed | plus: 1 -%}
						{% endif%}
						{%- endfor -%}
	
						<div class="my-coupons">
							<h3 class="h3 my-coupons__title">Unused Coupons</h3>
							<div class="my-coupons__list ">
								
						
							</div>
						
						
						</div>
						
						<div class="order-preview overview-box ">
							<h3 class="h3">My Order</h3>
							<order-item>
								<div class="icon-box">
									<ul class="d-flex  account-overview__list icons">
										<li class="order-preview__item">
											<span class="order-icon">
												{%- render 'icon', icon: 'cjj_all' -%}
												{%- comment -%}
												<span class="empty-state__count redio-icon">{{customer.orders_count}}</span>
												{%- endcomment -%}
											</span>
											<p>All</p>
											</a>
										</li>
										<li class="order-preview__item">
											<span class="order-icon">
												{%- render 'icon', icon: 'cjj_unpaid' -%}
												{%- if order_unpaid!=0 -%}
												<span class="empty-state__count redio-icon">{{order_unpaid}}</span>
												{%- endif -%}
											</span>
											<p>Unpaid</p>
										</li>
										<li class="order-preview__item">
											<span class="order-icon">
												{%- render 'icon', icon: 'cjj_processing' -%}
												{%- if order_processing!=0 -%}
												<span class="empty-state__count redio-icon">{{order_processing}}</span>
												{%- endif -%}
											</span>
											<p>Processing</p>
										</li>
										<li class="order-preview__item">
											<span class="order-icon">
												{%- render 'icon', icon: 'cjj_shipped' -%}
												{%- if order_shipped!=0 -%}
												<span class="empty-state__count redio-icon">{{order_shipped}}</span>
					
												{%- endif -%}
											</span>
											<p>Shipped</p>
										</li>
					
										<li class="order-preview__item">
											<span class="order-icon">
												{%- render 'icon', icon: 'cjj_payment' -%}
												{%- if order_payment!=0 -%}
												<span class="empty-state__count redio-icon">{{order_payment}}</span>
					
												{%- endif -%}
											</span>
											<p>Payment</p>
										</li>
										<li class="order-preview__item">
											<span class="order-icon">
												{%- render 'icon', icon: 'cjj_completed' -%}
												{%- if order_completed!=0 -%}
												<span class="empty-state__count redio-icon">{{order_completed}}</span>
					
												{%- endif -%}
											</span>
											<p>Completed</p>
										</li>
										<li class="order-preview__item">
											<!-- <a href="mailto:contactus@hyfol.com" target="_blank" rel="noopener" aria-describedby="a11y-new-window-message"> -->
											<span class="order-icon">
												{%- render 'icon', icon: 'cjj_post_sale' -%}<br />
											</span>
											<p>Post-sale</p>
											<!-- </a> -->
										</li>
									</ul>
								</div>
							</order-item>
						</div>
					{%- comment -%}
					<div class="overview-box points-box">
						<h1>Points For</h1>
						<div class="points-img">
							{%- if section.settings.points_rule!= blank -%}
							{%- assign points_image = section.settings.points_rule -%}
							{%- capture supported_sizes -%}{%- render 'image-size', sizes: '200,300,400,500', image: points_image -%}{%-
							endcapture -%}
							{%- assign image_url = points_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
							<img class="lazyload" alt="{{ points_image.alt | escape }}" data-src="{{ image_url }}"
								data-widths="[{{ supported_sizes }}]" data-sizes="auto">
							{%- endif -%}
				
						</div>
					</div>
					{%- endcomment -%}
					</div>	

				</div>
				{%- comment -%}优惠券{%- endcomment -%}
				<div class="my_coupons account_right_content backgrount_e">
					<h3 class="my_coupons__title h3">My Coupons</h3>
					<details-menu>
						<div class="coupons-nav d-flex">
							<summary aria-expanded="true" data-index="1">
								Unused Coupons
							</summary>
							<summary aria-expanded="false" data-index="2">
								Expired Coupons 
							</summary>
						</div>
						<div class="unused__coupons page__item" data-index="1" aria-hidden="false">
							<div class="my-coupons">
								<!-- <h3 class="h3 my-coupons__title">Unused Coupons</h3> -->
								<div class="my-coupons__list ">
									
							
								</div>
							
							
							</div>
						</div>
						<div class="expired__coupons page__item" data-index="2" aria-hidden="true">
							<div class="my-coupons">
								<!-- <h3 class="h3 my-coupons__title">Unused Coupons</h3> -->
								<div class="my-coupons__list ">
									
							
								</div>
							
							
							</div>
						</div>
						</details-menu>
				</div>
			
				<div class="my_profiles account_right_content">
					{%- comment -%}
					<div class="profile-view backgrount_e">
						<h3 class="h3" style="text-align:center;">My Profile</h3>
				
						<div class="profiles-form">
							<label for="my_name">The Name</label>
							<input type="text" name="" id="my_name">
							<label for="my_brithday">Birthday</label>
							<input type="text" name="" id="my_brithday">
							
							Fill In For 30+Points
							<div>
								<input type="checkbox" name="" id="checkbox-y">
								<label for="checkbox-y">选项</label>
								<input type="checkbox" name="" id="checkbox-">
								<label for="checkbox-">选项</label>
								<input type="checkbox" name="" id="checkbox-z">
								<label for="checkbox-z">选项</label>
								<input type="checkbox" name="" id="checkbox-k">
								<label for="checkbox-k">选项</label>

							</div>
						</div>
					</div>
					{%- endcomment -%}
				</div>
				{%- comment -%}积分概览{%- endcomment -%}
				<div class="my_profile account_right_content">
					<div class="profile-view backgrount_e">
						<h3 class="h3" >My Profile</h3>
						<div class="my-profile__view ">
							<div class="profile-total">
								<div><strong>100</strong></div>
								<div>Total Points</div>
							</div>
							<span style="background-color: #aaa;height: 100%;width: 1px;margin: 0 auto;"></span>
							<div class="profile-expire">
								<div><strong>0</strong></div>
								<div>Points Expired soon</div>
							</div>
						</div>
					</div>
					
					{%- comment -%}积分记录{%- endcomment -%}
					<div class="profile-record backgrount_e">
						<h4 class="profile-story__title">Profile Detalls</h4>
						<details-menu>
							<div class="profile-nav">
								<summary aria-expanded="true" data-index="1">
									All
								</summary>
								<summary aria-expanded="false" data-index="2">
									Earned
								</summary>
								<summary aria-expanded="false" data-index="3">
									Point Amount
								</summary>
								<summary aria-expanded="false" data-index="4">
									Expired
								</summary>
							</div>
							<div class="profile-all page__item" data-index="1" aria-hidden="false">
								<table border="1">
									<thead>
										<tr>
											<th>Date And Time</th>
											<th>Point Type</th>
											<th>Point Amount</th>
											<th>Expiration Date</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>16/05/2022 02:00:00</td>
											<td>Emaill Verification</td>
											<td class="profile-amount">+ 100 </td>
											<td>16/05/2022 02:00:00</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="profile-earned page__item" data-index="2" aria-hidden="true">
								<table border="1">
									<thead>
										<tr>
											<th>Date And Time</th>
											<th>Point Type</th>
											<th>Point Amount</th>
											<th>Expiration Date</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>16/05/2022 02:00:00</td>
											<td>Emaill Verification</td>
											<td>+ 100 </td>
											<td>16/05/2022 02:00:00</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="profile-point page__item" data-index="3" aria-hidden="true">
								<table border="1">
									<thead>
										<tr>
											<th>Date And Time</th>
											<th>Point Type</th>
											<th>Point Amount</th>
											<th>Expiration Date</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>16/05/2022 02:00:00</td>
											<td>Emaill Verification</td>
											<td>+ 100 </td>
											<td>16/05/2022 02:00:00</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="profile-expired page__item" data-index="4" aria-hidden="true">
								<table border="1">
									<thead>
										<tr>
											<th>Date And Time</th>
											<th>Point Type</th>
											<th>Point Amount</th>
											<th>Expiration Date</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>16/05/2022 02:00:00</td>
											<td>Emaill Verification</td>
											<td>+ 100 </td>
											<td>16/05/2022 02:00:00</td>
										</tr>
									</tbody>
								</table>
							</div>
						</details-menu>
					</div>
				</div>
				
				{%- comment -%}客户地址{%- endcomment -%}
				<div class="my_addresses account_right_content ">
					<section data-section-id="{{ section.id }}" data-section-type="account">
						<div class="container container--flush">
							  <div class="card">
								<div class="card__section card__section--flex card__section--tight">
								  <h1 class="card__title heading h1">{{ 'customer.general.addresses' | t }} {% if customer.addresses_count > 0 %}({{ customer.addresses_count }}){% endif %}</h1>
								  {%- if customer.addresses_count > 0 -%}
									<button class="button button--small button--primary" data-action="open-modal" aria-controls="modal-address-new">{{ 'customer.addresses.add_address' | t }}</button>
								  {%- endif -%}
								</div>
					  
								{%- if customer.addresses_count == 0 -%}
								  <div class="card__section">
									<div class="empty-state empty-state--extra-tight">
									  <div class="empty-state__icon">
										{%- render 'icon', icon: 'address' -%}
										<span class="empty-state__count">0</span>
									  </div>
					  
									  <p class="empty-state__icon-description">{{ 'customer.addresses.no_addresses' | t }}</p>
					  
									  <div class="empty-state__button-container">
										<button class="empty-state__button button button--primary" data-action="open-modal" aria-controls="modal-address-new">{{ 'customer.addresses.no_addresses_button' | t }}</button>
									  </div>
									</div>
								  </div>
								  
								{%- else -%}
								  {%- paginate customer.addresses by 8 -%}
									<div class="address-list">
									  <div class="address-list__item" data-address>
										<div class="address-list__item-top">
										  <p class="heading h6">{{ 'customer.addresses.default_address' | t }}</p>
										  {{- customer.default_address | format_address -}}
										</div>
					  
										<div class="address-list__action-list">
										  <button class="link link--accented" data-action="open-modal" aria-controls="modal-address-{{ customer.default_address.id }}">{{ 'customer.addresses.edit' | t }}</button>
										  <!-- <button class="link link--accented" onclick="Shopify.CustomerAddress.destroy({{ customer.default_address.id }}); return false">{{ 'customer.addresses.delete' | t }}</button> -->
										  <button
										  type="button" class="link link--accented"
										  aria-label="{{ 'customer.addresses.delete' | t }} {{ forloop.index }}"
										  data-target="{{ customer.default_address.url }}"
										  data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}"
										>
										  {{ 'customer.addresses.delete' | t }}
										</button>
										</div>
									  </div>
					  
									  {%- assign address_count = paginate.current_offset | plus: 2 -%}
					  
									  {%- for address in customer.addresses -%}
										{%- if address.id == customer.default_address.id -%}
										  {%- continue -%}
										{%- endif -%}
					  
										<div class="address-list__item">
										  <div class="address-list__item-top">
											<p class="heading h6">{{ 'customer.addresses.address_number' | t: number: address_count }}</p>
											{{- address | format_address -}}
										  </div>
					  
										<div class="address-list__action-list">
											<button class="link link--accented" data-action="open-modal" aria-controls="modal-address-{{ address.id }}">{{
												'customer.addresses.edit' | t }}</button>
											<!-- <button class="link link--accented" onclick="Shopify.CustomerAddress.destroy({{ address.id }}); return false">{{ 'customer.addresses.delete' | t }}</button> -->
											<button type="button" class="link link--accented 11111111111111"
												aria-label="{{ 'customer.addresses.delete' | t }} {{ forloop.index }}" data-target="{{ address.url }}"
												data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
												{{ 'customer.addresses.delete' | t }}
											</button>
										</div>
										</div>
					  
										{%- assign address_count = address_count | plus: 1 -%}
									  {%- endfor -%}
									</div>
					  
									{% render 'pagination', paginate: paginate %}
								  {% assign dm_paginate_by = paginate.page_size %}{%- endpaginate -%}
								{%- endif -%}
							  </div>
							  
						</div>
					  

						{%- assign new_form_errored = false -%}
					  
						{%- capture form_status -%}
						  {%- form 'customer_address', customer.new_address, class: 'form' -%}
							{%- if form.errors -%}
							  {%- assign new_form_errored = true -%}
							{%- endif -%}
						  {%- endform -%}
						{%- endcapture -%}
					  
						<div id="modal-address-new" class="modal" aria-hidden="{% if new_form_errored %}false{% else %}true{% endif %}">
						  <div class="modal__dialog" role="dialog">
							<header class="modal__header">
							  <h3 class="modal__title heading h2">{{ 'customer.addresses.add_address' | t }}</h3>
							  <button class="modal__close link" data-action="close-modal" title="{{ 'general.accessibility.close' | t | escape }}">
								{%- render 'icon', icon: 'close' -%}
							  </button>
							</header>
					  
							<div class="modal__content modal__content--ios-push">
							  <p class="modal__description">{{ 'customer.addresses.form_subtitle' | t }}</p>
					  
							  {%- form 'customer_address', customer.new_address, class: 'form' -%}
								{%- if form.errors -%}
								  <div class="alert alert--error">
									<ul class="alert__error-list" role="list">
									  {%- for field in form.errors -%}
										{%- if field == 'form' -%}
										  <li class="alert__error-item">{{ form.errors.messages[field] }}</li>
										{%- else -%}
										  <li class="alert__error-item"><strong>{{ form.errors.translated_fields[field] }}</strong> {{ form.errors.messages[field] }}</li>
										{%- endif -%}
									  {%- endfor -%}
									</ul>
								  </div>
								{%- endif -%}
					  
								{%- if request.locale.iso_code == 'ja' -%}
								  <div class="form__input-wrapper form__input-wrapper--labelled">
									<input id="address-new[last_name]" type="text" class="form__field form__field--text {% if form.last_name != blank %}is-filled{% endif %}" name="address[last_name]" value="{{ form.last_name }}" autofocus>
									<label for="address-new[last_name]" class="form__floating-label">{{ 'customer.addresses.last_name' | t }}</label>
								  </div>
					  
								  <div class="form__input-wrapper form__input-wrapper--labelled">
									<input id="address-new[first_name]" type="text" class="form__field form__field--text {% if form.first_name != blank %}is-filled{% endif %}" name="address[first_name]" value="{{ form.first_name }}">
									<label for="address-new[first_name]" class="form__floating-label">{{ 'customer.addresses.first_name' | t }}</label>
								  </div>
					  
								  <div class="form__input-wrapper form__input-wrapper--labelled">
									<input id="address-new[zip]" type="text" class="form__field form__field--text {% if form.zip != blank %}is-filled{% endif %}" name="address[zip]" value="{{ form.zip }}">
									<label for="address-new[zip]" class="form__floating-label">{{ 'customer.addresses.zip' | t }}</label>
								  </div>
					  
								  <div class="form__input-wrapper form__input-wrapper--labelled">
									<div class="select-wrapper select-wrapper--primary is-filled">
									  {%- render 'icon', icon: 'arrow-bottom' -%}
									  <select name="address[country]" id="address-new[country]">{{ all_country_option_tags }}</select>
									</div>
					  
									<label for="address-new[country]" class="form__floating-label">{{ 'customer.addresses.country' | t }}</label>
								  </div>
					  
								  <div class="form__input-wrapper form__input-wrapper--labelled" style="display: none">
									<div class="select-wrapper select-wrapper--primary is-filled">
									  {%- render 'icon', icon: 'arrow-bottom' -%}
									  <select name="address[province]" id="address-new[province]"></select>
									</div>
					  
									<label for="address-new[province]" class="form__floating-label">{{ 'customer.addresses.province' | t }}</label>
								  </div>
					  
								  <div class="form__input-wrapper form__input-wrapper--labelled">
									<input id="address-new[city]" type="text" class="form__field form__field--text {% if form.city != blank %}is-filled{% endif %}" name="address[city]" value="{{ form.city }}">
									<label for="address-new[city]" class="form__floating-label">{{ 'customer.addresses.city' | t }}</label>
								  </div>
					  
								  <div class="form__input-wrapper form__input-wrapper--labelled">
									<input id="address-new[address1]" type="text" class="form__field form__field--text {% if form.address1 != blank %}is-filled{% endif %}" name="address[address1]" value="{{ form.address1 }}">
									<label for="address-new[address1]" class="form__floating-label">{{ 'customer.addresses.address1' | t }}</label>
								  </div>
					  
								  <div class="form__input-wrapper form__input-wrapper--labelled">
									<input id="address-new[address2]" type="text" class="form__field form__field--text {% if form.address2 != blank %}is-filled{% endif %}" name="address[address2]" value="{{ form.address2 }}">
									<label for="address-new[address2]" class="form__floating-label">{{ 'customer.addresses.address2' | t }}</label>
								  </div>
					  
								  <div class="form__input-wrapper form__input-wrapper--labelled">
									<input id="address-new[company]" type="text" class="form__field form__field--text {% if form.company != blank %}is-filled{% endif %}" name="address[company]" value="{{ form.company }}">
									<label for="address-new[company]" class="form__floating-label">{{ 'customer.addresses.company' | t }}</label>
								  </div>
					  
								  <div class="form__input-wrapper form__input-wrapper--labelled">
									<input id="address-new[phone]" type="text" class="form__field form__field--text {% if form.phone != blank %}is-filled{% endif %}" name="address[phone]" value="{{ form.phone }}">
									<label for="address-new[phone]" class="form__floating-label">{{ 'customer.addresses.phone' | t }}</label>
								  </div>
								{%- else -%}
								  <div class="form__input-wrapper form__input-wrapper--labelled">
									<input id="address-new[first_name]" type="text" class="form__field form__field--text {% if form.first_name != blank %}is-filled{% endif %}" name="address[first_name]" value="{{ form.first_name }}" autofocus>
									<label for="address-new[first_name]" class="form__floating-label">{{ 'customer.addresses.first_name' | t }}</label>
								  </div>
					  
								  <div class="form__input-wrapper form__input-wrapper--labelled">
									<input id="address-new[last_name]" type="text" class="form__field form__field--text {% if form.last_name != blank %}is-filled{% endif %}" name="address[last_name]" value="{{ form.last_name }}">
									<label for="address-new[last_name]" class="form__floating-label">{{ 'customer.addresses.last_name' | t }}</label>
								  </div>
					  
								  <div class="form__input-wrapper form__input-wrapper--labelled">
									<input id="address-new[company]" type="text" class="form__field form__field--text {% if form.company != blank %}is-filled{% endif %}" name="address[company]" value="{{ form.company }}">
									<label for="address-new[company]" class="form__floating-label">{{ 'customer.addresses.company' | t }}</label>
								  </div>
					  
								  <div class="form__input-wrapper form__input-wrapper--labelled">
									<input id="address-new[phone]" type="text" class="form__field form__field--text {% if form.phone != blank %}is-filled{% endif %}" name="address[phone]" value="{{ form.phone }}">
									<label for="address-new[phone]" class="form__floating-label">{{ 'customer.addresses.phone' | t }}</label>
								  </div>
					  
								  <div class="form__input-wrapper form__input-wrapper--labelled">
									<input id="address-new[address1]" type="text" class="form__field form__field--text {% if form.address1 != blank %}is-filled{% endif %}" name="address[address1]" value="{{ form.address1 }}">
									<label for="address-new[address1]" class="form__floating-label">{{ 'customer.addresses.address1' | t }}</label>
								  </div>
					  
								  <div class="form__input-wrapper form__input-wrapper--labelled">
									<input id="address-new[address2]" type="text" class="form__field form__field--text {% if form.address2 != blank %}is-filled{% endif %}" name="address[address2]" value="{{ form.address2 }}">
									<label for="address-new[address2]" class="form__floating-label">{{ 'customer.addresses.address2' | t }}</label>
								  </div>
					  
								  <div class="form__input-row">
									<div class="form__input-wrapper form__input-wrapper--labelled">
									  <input id="address-new[city]" type="text" class="form__field form__field--text {% if form.city != blank %}is-filled{% endif %}" name="address[city]" value="{{ form.city }}">
									  <label for="address-new[city]" class="form__floating-label">{{ 'customer.addresses.city' | t }}</label>
									</div>
					  
									<div class="form__input-wrapper form__input-wrapper--labelled">
									  <input id="address-new[zip]" type="text" class="form__field form__field--text {% if form.zip != blank %}is-filled{% endif %}" name="address[zip]" value="{{ form.zip }}">
									  <label for="address-new[zip]" class="form__floating-label">{{ 'customer.addresses.zip' | t }}</label>
									</div>
								  </div>
					  
								  <div class="form__input-wrapper form__input-wrapper--labelled">
									<div class="select-wrapper select-wrapper--primary is-filled">
									  {%- render 'icon', icon: 'arrow-bottom' -%}
									  <select name="address[country]" id="address-new[country]">{{ all_country_option_tags }}</select>
									</div>
					  
									<label for="address-new[country]" class="form__floating-label">{{ 'customer.addresses.country' | t }}</label>
								  </div>
					  
								  <div class="form__input-wrapper form__input-wrapper--labelled" style="display: none">
									<div class="select-wrapper select-wrapper--primary is-filled">
									  {%- render 'icon', icon: 'arrow-bottom' -%}
									  <select name="address[province]" id="address-new[province]"></select>
									</div>
					  
									<label for="address-new[province]" class="form__floating-label">{{ 'customer.addresses.province' | t }}</label>
								  </div>
								{%- endif -%}
					  
								<div class="form__input-wrapper form__input-wrapper--labelled">
								  <div class="checkbox-wrapper">
									<input type="checkbox" class="checkbox" name="address[default]" id="address-new[default]" value="0">
									{% render 'icon', icon: 'check' %}
								  </div>
					  
								  <label for="address-new[default]">{{ 'customer.addresses.set_default' | t }}</label>
								</div>
					  
								<button 
								  class="form__submit button button--primary button--full"               
								  data-scenable="1"   
								  data-sctype="profile_set"
								  data-submitForm
								>{{ 'customer.addresses.add_address' | t }}</button>
							  {%- endform -%}
							</div>
						  </div>
						</div>
					  
					  
						<div id="modal-address-{{ customer.default_address.id }}" class="modal" aria-hidden="true">
						  <div class="modal__dialog" role="dialog">
							<header class="modal__header">
							  <h3 class="modal__title heading h2">{{ 'customer.addresses.edit_address' | t }}</h3>
							  <button class="modal__close link" data-action="close-modal" title="{{ 'general.accessibility.close' | t | escape }}">
								{%- render 'icon', icon: 'close' -%}
							  </button>
							</header>
					  
							<div class="modal__content modal__content--ios-push">
							  <p class="modal__description">{{ 'customer.addresses.form_subtitle' | t }}</p>
					  
							  {% form 'customer_address', customer.default_address, class: 'form' %}
								{%- if request.locale.iso_code == 'ja' -%}
								  <div class="form__input-wrapper form__input-wrapper--labelled">
									<input id="address-{{ address.id }}[last_name]" type="text" class="form__field form__field--text {% if form.last_name != blank %}is-filled{% endif %}" name="address[last_name]" value="{{ form.last_name }}" autofocus>
									<label for="address-{{ address.id }}[last_name]" class="form__floating-label">{{ 'customer.addresses.last_name' | t }}</label>
								  </div>
					  
								  <div class="form__input-wrapper form__input-wrapper--labelled">
									<input id="address-{{ address.id }}[first_name]" type="text" class="form__field form__field--text {% if form.first_name != blank %}is-filled{% endif %}" name="address[first_name]" value="{{ form.first_name }}">
									<label for="address-{{ address.id }}[first_name]" class="form__floating-label">{{ 'customer.addresses.first_name' | t }}</label>
								  </div>
					  
								  <div class="form__input-wrapper form__input-wrapper--labelled">
									<input id="address-{{ address.id }}[zip]" type="text" class="form__field form__field--text {% if form.zip != blank %}is-filled{% endif %}" name="address[zip]" value="{{ form.zip }}">
									<label for="address-{{ address.id }}[zip]" class="form__floating-label">{{ 'customer.addresses.zip' | t }}</label>
								  </div>
					  
								  <div class="form__input-wrapper form__input-wrapper--labelled">
									<div class="select-wrapper select-wrapper--primary is-filled">
									  {%- render 'icon', icon: 'arrow-bottom' -%}
									  <select name="address[country]" id="address-{{ address.id }}[country]" data-default="{{ form.country }}">{{ all_country_option_tags }}</select>
									</div>
					  
									<label for="address-{{ address.id }}[country]" class="form__floating-label">{{ 'customer.addresses.country' | t }}</label>
								  </div>
					  
								  <div class="form__input-wrapper form__input-wrapper--labelled" style="display: none">
									<div class="select-wrapper select-wrapper--primary is-filled">
									  {%- render 'icon', icon: 'arrow-bottom' -%}
									  <select name="address[province]" id="address-{{ address.id }}[province]" data-default="{{ form.province }}"></select>
									</div>
					  
									<label for="address-{{ address.id }}[province]" class="form__floating-label">{{ 'customer.addresses.province' | t }}</label>
								  </div>
					  
								  <div class="form__input-wrapper form__input-wrapper--labelled">
									<input id="address-{{ address.id }}[city]" type="text" class="form__field form__field--text {% if form.city != blank %}is-filled{% endif %}" name="address[city]" value="{{ form.city }}">
									<label for="address-{{ address.id }}[city]" class="form__floating-label">{{ 'customer.addresses.city' | t }}</label>
								  </div>
					  
								  <div class="form__input-wrapper form__input-wrapper--labelled">
									<input id="address-{{ address.id }}[address1]" type="text" class="form__field form__field--text {% if form.address1 != blank %}is-filled{% endif %}" name="address[address1]" value="{{ form.address1 }}">
									<label for="address-{{ address.id }}[address1]" class="form__floating-label">{{ 'customer.addresses.address1' | t }}</label>
								  </div>
					  
								  <div class="form__input-wrapper form__input-wrapper--labelled">
									<input id="address-{{ address.id }}[address2]" type="text" class="form__field form__field--text {% if form.address2 != blank %}is-filled{% endif %}" name="address[address2]" value="{{ form.address2 }}">
									<label for="address-{{ address.id }}[address2]" class="form__floating-label">{{ 'customer.addresses.address2' | t }}</label>
								  </div>
					  
								  <div class="form__input-wrapper form__input-wrapper--labelled">
									<input id="address-{{ address.id }}[company]" type="text" class="form__field form__field--text {% if form.company != blank %}is-filled{% endif %}" name="address[company]" value="{{ form.company }}">
									<label for="address-{{ address.id }}[company]" class="form__floating-label">{{ 'customer.addresses.company' | t }}</label>
								  </div>
					  
								  <div class="form__input-wrapper form__input-wrapper--labelled">
									<input id="address-{{ address.id }}[phone]" type="text" class="form__field form__field--text {% if form.phone != blank %}is-filled{% endif %}" name="address[phone]" value="{{ form.phone }}">
									<label for="address-{{ address.id }}[phone]" class="form__floating-label">{{ 'customer.addresses.phone' | t }}</label>
								  </div>
								{%- else -%}
								  <div class="form__input-wrapper form__input-wrapper--labelled">
									<input id="address-{{ address.id }}[first_name]" type="text" class="form__field form__field--text {% if form.first_name != blank %}is-filled{% endif %}" name="address[first_name]" value="{{ form.first_name }}" autofocus>
									<label for="address-{{ address.id }}[first_name]" class="form__floating-label">{{ 'customer.addresses.first_name' | t }}</label>
								  </div>
					  
								  <div class="form__input-wrapper form__input-wrapper--labelled">
									<input id="address-{{ address.id }}[last_name]" type="text" class="form__field form__field--text {% if form.last_name != blank %}is-filled{% endif %}" name="address[last_name]" value="{{ form.last_name }}">
									<label for="address-{{ address.id }}[last_name]" class="form__floating-label">{{ 'customer.addresses.last_name' | t }}</label>
								  </div>
					  
								  <div class="form__input-wrapper form__input-wrapper--labelled">
									<input id="address-{{ address.id }}[company]" type="text" class="form__field form__field--text {% if form.company != blank %}is-filled{% endif %}" name="address[company]" value="{{ form.company }}">
									<label for="address-{{ address.id }}[company]" class="form__floating-label">{{ 'customer.addresses.company' | t }}</label>
								  </div>
					  
								  <div class="form__input-wrapper form__input-wrapper--labelled">
									<input id="address-{{ address.id }}[phone]" type="text" class="form__field form__field--text {% if form.phone != blank %}is-filled{% endif %}" name="address[phone]" value="{{ form.phone }}">
									<label for="address-{{ address.id }}[phone]" class="form__floating-label">{{ 'customer.addresses.phone' | t }}</label>
								  </div>
					  
								  <div class="form__input-wrapper form__input-wrapper--labelled">
									<input id="address-{{ address.id }}[address1]" type="text" class="form__field form__field--text {% if form.address1 != blank %}is-filled{% endif %}" name="address[address1]" value="{{ form.address1 }}">
									<label for="address-{{ address.id }}[address1]" class="form__floating-label">{{ 'customer.addresses.address1' | t }}</label>
								  </div>
					  
								  <div class="form__input-wrapper form__input-wrapper--labelled">
									<input id="address-{{ address.id }}[address2]" type="text" class="form__field form__field--text {% if form.address2 != blank %}is-filled{% endif %}" name="address[address2]" value="{{ form.address2 }}">
									<label for="address-{{ address.id }}[address2]" class="form__floating-label">{{ 'customer.addresses.address2' | t }}</label>
								  </div>
					  
								  <div class="form__input-row">
									<div class="form__input-wrapper form__input-wrapper--labelled">
									  <input id="address-{{ address.id }}[city]" type="text" class="form__field form__field--text {% if form.city != blank %}is-filled{% endif %}" name="address[city]" value="{{ form.city }}">
									  <label for="address-{{ address.id }}[city]" class="form__floating-label">{{ 'customer.addresses.city' | t }}</label>
									</div>
					  
									<div class="form__input-wrapper form__input-wrapper--labelled">
									  <input id="address-{{ address.id }}[zip]" type="text" class="form__field form__field--text {% if form.zip != blank %}is-filled{% endif %}" name="address[zip]" value="{{ form.zip }}">
									  <label for="address-{{ address.id }}[zip]" class="form__floating-label">{{ 'customer.addresses.zip' | t }}</label>
									</div>
								  </div>
					  
								  <div class="form__input-wrapper form__input-wrapper--labelled">
									<div class="select-wrapper select-wrapper--primary is-filled">
									  {%- render 'icon', icon: 'arrow-bottom' -%}
									  <select name="address[country]" id="address-{{ address.id }}[country]" data-default="{{ form.country }}">{{ all_country_option_tags }}</select>
									</div>
					  
									<label for="address-{{ address.id }}[country]" class="form__floating-label">{{ 'customer.addresses.country' | t }}</label>
								  </div>
					  
								  <div class="form__input-wrapper form__input-wrapper--labelled" style="display: none">
									<div class="select-wrapper select-wrapper--primary is-filled">
									  {%- render 'icon', icon: 'arrow-bottom' -%}
									  <select name="address[province]" id="address-{{ address.id }}[province]" data-default="{{ form.province }}"></select>
									</div>
					  
									<label for="address-{{ address.id }}[province]" class="form__floating-label">{{ 'customer.addresses.province' | t }}</label>
								  </div>
								{%- endif -%}
					  
								<div class="form__input-wrapper form__input-wrapper--labelled">
								  <div class="checkbox-wrapper">
									<input type="checkbox" class="checkbox" id="address-{{ customer.default_address.id }}[default]" name="address[default]" value="1" checked>
									{% render 'icon', icon: 'check' %}
								  </div>
					  
								  <label for="address-{{ customer.default_address.id }}[default]">{{ 'customer.addresses.set_default' | t }}</label>
								</div>
					  
								<button 
								  class="form__submit button button--primary button--full"
								  data-scenable="1"   
								  data-sctype="profile_set"
								>{{ 'customer.addresses.edit_address' | t }}</button>
							  {% endform %}
							</div>
						  </div>
						</div>
					  
					  
						{%- paginate customer.addresses by 9 -%}
						  {%- for address in customer.addresses -%}
							{%- if address.id == customer.default_address.id -%}
							  {%- continue -%}
							{%- endif -%}
					  
							<div id="modal-address-{{ address.id }}" class="modal" aria-hidden="true">
							  <div class="modal__dialog" role="dialog">
								<header class="modal__header">
								  <h3 class="modal__title heading h2">{{ 'customer.addresses.edit_address' | t }}</h3>
								  <button class="modal__close link" data-action="close-modal" title="{{ 'general.accessibility.close' | t | escape }}">
									{%- render 'icon', icon: 'close' -%}
								  </button>
								</header>
					  
								<div class="modal__content modal__content--ios-push">
								  <p class="modal__description">{{ 'customer.addresses.form_subtitle' | t }}</p>
					  
								  {% form 'customer_address', address, class: 'form' %}
									{%- if request.locale.iso_code == 'ja' -%}
									  <div class="form__input-wrapper form__input-wrapper--labelled">
										<input id="address-{{ address.id }}[last_name]" type="text" class="form__field form__field--text {% if form.last_name != blank %}is-filled{% endif %}" name="address[last_name]" value="{{ form.last_name }}" autofocus>
										<label for="address-{{ address.id }}[last_name]" class="form__floating-label">{{ 'customer.addresses.last_name' | t }}</label>
									  </div>
					  
									  <div class="form__input-wrapper form__input-wrapper--labelled">
										<input id="address-{{ address.id }}[first_name]" type="text" class="form__field form__field--text {% if form.first_name != blank %}is-filled{% endif %}" name="address[first_name]" value="{{ form.first_name }}">
										<label for="address-{{ address.id }}[first_name]" class="form__floating-label">{{ 'customer.addresses.first_name' | t }}</label>
									  </div>
					  
									  <div class="form__input-wrapper form__input-wrapper--labelled">
										<input id="address-{{ address.id }}[zip]" type="text" class="form__field form__field--text {% if form.zip != blank %}is-filled{% endif %}" name="address[zip]" value="{{ form.zip }}">
										<label for="address-{{ address.id }}[zip]" class="form__floating-label">{{ 'customer.addresses.zip' | t }}</label>
									  </div>
					  
									  <div class="form__input-wrapper form__input-wrapper--labelled">
										<div class="select-wrapper select-wrapper--primary is-filled">
										  {%- render 'icon', icon: 'arrow-bottom' -%}
										  <select name="address[country]" id="address-{{ address.id }}[country]" data-default="{{ form.country }}">{{ all_country_option_tags }}</select>
										</div>
					  
										<label for="address-{{ address.id }}[country]" class="form__floating-label">{{ 'customer.addresses.country' | t }}</label>
									  </div>
					  
									  <div class="form__input-wrapper form__input-wrapper--labelled" style="display: none">
										<div class="select-wrapper select-wrapper--primary is-filled">
										  {%- render 'icon', icon: 'arrow-bottom' -%}
										  <select name="address[province]" id="address-{{ address.id }}[province]" data-default="{{ form.province }}"></select>
										</div>
					  
										<label for="address-{{ address.id }}[province]" class="form__floating-label">{{ 'customer.addresses.province' | t }}</label>
									  </div>
					  
									  <div class="form__input-wrapper form__input-wrapper--labelled">
										<input id="address-{{ address.id }}[city]" type="text" class="form__field form__field--text {% if form.city != blank %}is-filled{% endif %}" name="address[city]" value="{{ form.city }}">
										<label for="address-{{ address.id }}[city]" class="form__floating-label">{{ 'customer.addresses.city' | t }}</label>
									  </div>
					  
									  <div class="form__input-wrapper form__input-wrapper--labelled">
										<input id="address-{{ address.id }}[address1]" type="text" class="form__field form__field--text {% if form.address1 != blank %}is-filled{% endif %}" name="address[address1]" value="{{ form.address1 }}">
										<label for="address-{{ address.id }}[address1]" class="form__floating-label">{{ 'customer.addresses.address1' | t }}</label>
									  </div>
					  
									  <div class="form__input-wrapper form__input-wrapper--labelled">
										<input id="address-{{ address.id }}[address2]" type="text" class="form__field form__field--text {% if form.address2 != blank %}is-filled{% endif %}" name="address[address2]" value="{{ form.address2 }}">
										<label for="address-{{ address.id }}[address2]" class="form__floating-label">{{ 'customer.addresses.address2' | t }}</label>
									  </div>
					  
									  <div class="form__input-wrapper form__input-wrapper--labelled">
										<input id="address-{{ address.id }}[company]" type="text" class="form__field form__field--text {% if form.company != blank %}is-filled{% endif %}" name="address[company]" value="{{ form.company }}">
										<label for="address-{{ address.id }}[company]" class="form__floating-label">{{ 'customer.addresses.company' | t }}</label>
									  </div>
					  
									  <div class="form__input-wrapper form__input-wrapper--labelled">
										<input id="address-{{ address.id }}[phone]" type="text" class="form__field form__field--text {% if form.phone != blank %}is-filled{% endif %}" name="address[phone]" value="{{ form.phone }}">
										<label for="address-{{ address.id }}[phone]" class="form__floating-label">{{ 'customer.addresses.phone' | t }}</label>
									  </div>
									{%- else -%}
									  <div class="form__input-wrapper form__input-wrapper--labelled">
										<input id="address-{{ address.id }}[first_name]" type="text" class="form__field form__field--text {% if form.first_name != blank %}is-filled{% endif %}" name="address[first_name]" value="{{ form.first_name }}" autofocus>
										<label for="address-{{ address.id }}[first_name]" class="form__floating-label">{{ 'customer.addresses.first_name' | t }}</label>
									  </div>
					  
									  <div class="form__input-wrapper form__input-wrapper--labelled">
										<input id="address-{{ address.id }}[last_name]" type="text" class="form__field form__field--text {% if form.last_name != blank %}is-filled{% endif %}" name="address[last_name]" value="{{ form.last_name }}">
										<label for="address-{{ address.id }}[last_name]" class="form__floating-label">{{ 'customer.addresses.last_name' | t }}</label>
									  </div>
					  
									  <div class="form__input-wrapper form__input-wrapper--labelled">
										<input id="address-{{ address.id }}[company]" type="text" class="form__field form__field--text {% if form.company != blank %}is-filled{% endif %}" name="address[company]" value="{{ form.company }}">
										<label for="address-{{ address.id }}[company]" class="form__floating-label">{{ 'customer.addresses.company' | t }}</label>
									  </div>
					  
									  <div class="form__input-wrapper form__input-wrapper--labelled">
										<input id="address-{{ address.id }}[phone]" type="text" class="form__field form__field--text {% if form.phone != blank %}is-filled{% endif %}" name="address[phone]" value="{{ form.phone }}">
										<label for="address-{{ address.id }}[phone]" class="form__floating-label">{{ 'customer.addresses.phone' | t }}</label>
									  </div>
					  
									  <div class="form__input-wrapper form__input-wrapper--labelled">
										<input id="address-{{ address.id }}[address1]" type="text" class="form__field form__field--text {% if form.address1 != blank %}is-filled{% endif %}" name="address[address1]" value="{{ form.address1 }}">
										<label for="address-{{ address.id }}[address1]" class="form__floating-label">{{ 'customer.addresses.address1' | t }}</label>
									  </div>
					  
									  <div class="form__input-wrapper form__input-wrapper--labelled">
										<input id="address-{{ address.id }}[address2]" type="text" class="form__field form__field--text {% if form.address2 != blank %}is-filled{% endif %}" name="address[address2]" value="{{ form.address2 }}">
										<label for="address-{{ address.id }}[address2]" class="form__floating-label">{{ 'customer.addresses.address2' | t }}</label>
									  </div>
					  
									  <div class="form__input-row">
										<div class="form__input-wrapper form__input-wrapper--labelled">
										  <input id="address-{{ address.id }}[city]" type="text" class="form__field form__field--text {% if form.city != blank %}is-filled{% endif %}" name="address[city]" value="{{ form.city }}">
										  <label for="address-{{ address.id }}[city]" class="form__floating-label">{{ 'customer.addresses.city' | t }}</label>
										</div>
					  
										<div class="form__input-wrapper form__input-wrapper--labelled">
										  <input id="address-{{ address.id }}[zip]" type="text" class="form__field form__field--text {% if form.zip != blank %}is-filled{% endif %}" name="address[zip]" value="{{ form.zip }}">
										  <label for="address-{{ address.id }}[zip]" class="form__floating-label">{{ 'customer.addresses.zip' | t }}</label>
										</div>
									  </div>
					  
									  <div class="form__input-wrapper form__input-wrapper--labelled">
										<div class="select-wrapper select-wrapper--primary is-filled">
										  {%- render 'icon', icon: 'arrow-bottom' -%}
										  <select name="address[country]" id="address-{{ address.id }}[country]" data-default="{{ form.country }}">{{ all_country_option_tags }}</select>
										</div>
					  
										<label for="address-{{ address.id }}[country]" class="form__floating-label">{{ 'customer.addresses.country' | t }}</label>
									  </div>
					  
									  <div class="form__input-wrapper form__input-wrapper--labelled" style="display: none">
										<div class="select-wrapper select-wrapper--primary is-filled">
										  {%- render 'icon', icon: 'arrow-bottom' -%}
										  <select name="address[province]" id="address-{{ address.id }}[province]" data-default="{{ form.province }}"></select>
										</div>
					  
										<label for="address-{{ address.id }}[province]" class="form__floating-label">{{ 'customer.addresses.province' | t }}</label>
									  </div>
									{%- endif -%}
					  
									<div class="form__input-wrapper form__input-wrapper--labelled">
									  <div class="checkbox-wrapper">
										<input type="checkbox" class="checkbox" id="address-{{ address.id }}[default]" name="address[default]" {% if address.id == customer.default_address.id %}value="1" checked{% endif %}>
										{% render 'icon', icon: 'check' %}
									  </div>
					  
									  <label for="address-{{ address.id }}[default]">{{ 'customer.addresses.set_default' | t }}</label>
									</div>
					  
									<button 
									  class="form__submit button button--primary button--full"
									  data-scenable="1"   
									  data-sctype="profile_set"
									>{{ 'customer.addresses.edit_address' | t }}</button>
								  {% endform %}
								</div>
							  </div>
							</div>
						  {%- endfor -%}
						{% assign dm_paginate_by = paginate.page_size %}{%- endpaginate -%}
					  </section>

				</div>
				{%- comment -%}联系我们{%- endcomment -%}
				<div class="my_postsale account_right_content">
					<div class="customers-services"  >
						<div class="container">
							<h3>
								{%- render 'icon', icon: 'bi-email' -%}&nbsp;&nbsp;
								<a href="mailto:contactus@hyfol.com" target="_blank" rel="noopener"
									aria-describedby="a11y-new-window-message">contactus@hyfol.com</a>
							</h3>
						</div>
					</div>
				</div>

		</div>
	</div>
</section>

{% if dm_paginate_by %}{% render 'spurit_dmr_collection_template_snippet', paginate_by: dm_paginate_by %}{% endif %}
<style>
	/* .profiles-form > input {
		border: 1px solid #666;
		background-color: #eee;
		width: 100%;
		display: block;
		padding: 8px 20px;
	} */

	.my-profile__view {
		text-align: center;
		display: grid;
		grid: repeat(1, auto) / auto-flow auto;
		color: #fff;
		background:url({{ 'coupon.jpg' | asset_url }}) no-repeat 100% 100%;
		grid-template-columns: 50% 1px auto;
		padding: 1rem 2rem;

	}

	.profile-total,
	.profile-expire {
		padding: 1rem 0;
	}


	.my_coupons {
		padding: 1rem 3rem;
	}

	.my_coupons__title {
		text-align: center;
	}

	.coupons-nav>summary {
		/* display: inline-block; */
		margin-right: 1.8rem;
		cursor: pointer;
	}

	.vip-level__s1,
	.vip-level__s2,
	.vip-level__s3 {
		position: relative;
	}

	.vip-level__s1::after {
		content: 'Silver';
		position: absolute;
		left: -0.2rem;
		bottom: -1.6rem;
	}

	.vip-level__s2::after {
		content: 'Gold';
		position: absolute;
		left: -0.2rem;
		bottom: -1.6rem;
	}

	.vip-level__s3::after {
		content: 'Platinum';
		position: absolute;
		left: -0.8rem;
		bottom: -1.6rem;
	}
	.page__item .my-coupons{
		padding: 0 0rem 3rem;

	}
</style>
<style>

	.product-item__info {
		background-color: #ffffff;
	}

	.product-item_text,
	.product-item__info-inner .price {
		color: #000000;
	}

	.product-item__swatch-list {
		padding-bottom: 0px;
		min-height: 50px;
	}

	.scroller__inner .price--compare,
	.product-item__info-inner .price--compare {
		text-decoration: line-through black;
	}

	.mobile-account__title {
		text-align: center;
		font-weight: 600;
	}

	.hidden-lap-and-up.account {
		margin: 1rem 0;
	}

	.container.container--flush {
		padding: 0;
	}

	#shopify-section-footer {
		display: none;
	}

	body {
		min-height: 100vh;
		background: #fff;
	}

	main ul,
	li {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.header-me {
		background-color: #eee;
		padding: 0 10px;
	}

	.header-me .logged .name {
		font-family: var(--heading-font-family);
		font-weight: var(--heading-font-weight);
		font-style: var(--heading-font-style);
	}

	.header-me .logged .tab label {
		cursor: pointer;
	}

	.header-me .logged .hi {
		color: var(--link-color);
	}

	.header-me .account-box {
		/* height: 0;
		overflow: hidden;
		transition: all 0.4s ease; */
		padding: 1rem 0;

	}

	/* #account-input:checked~.account-box {
		height: 170px;
		transition: all 0.4s ease;
	} */

	.header-me .logged>.tab {
		transition: all 0.4s ease;
	}

	#account-input:checked~.logged>.tab {
		transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		/* IE 9 */
		-moz-transform: rotate(180deg);
		/* Firefox */
		-webkit-transform: rotate(180deg);
		/* Safari 和 Chrome */
		-o-transform: rotate(180deg);
	}

	.header-me .no-logged,
	.header-me .logged {
		display: flex;
		padding: 20px 0;
	}

	.header-me .logged {
		justify-content: space-between;
	}

	.header-me .no-logged li {
		flex: 1 0 auto;
	}

	.header-me .no-logged li a {
		font-family: var(--heading-font-family);
		font-weight: var(--heading-font-weight);
		font-style: var(--heading-font-style);
	}

	.order-me {
		background-color: #fff;
		margin-top: 10px;
	}

	.order-me h2 {
		font-family: var(--heading-font-family);
		font-weight: var(--heading-font-weight);
		font-style: var(--heading-font-style);
		padding: 10px 0;
	}

	.order-me .icon-box {
		overflow-x: scroll;
		width: 100%;
		padding-bottom: 10px;
	}

	.order-me .icons {
		width: 160%;
		display: flex;
		justify-content: space-between;
	}

	.order-me .icons li {
		cursor: pointer;
	}

	.order-me .icon {
		font-size: 2em;
	}

	.order-me span {
		font-size: 0.85rem;
	}

	.order-me .current {
		color: #b82928;
	}

	.body-me {
		margin-top: 10px;
	}

	.body-me .card {
		border: none;
	}

	.body-me.loading {
		color: #666666;
		width: 100%;
		height: 60px;
		font-size: 2em;
		text-align: center;
	}

	.body-me.loading>svg {
		animation: loading;
		animation-duration: .3s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}

	.body-me.loading>.loading-text {
		font-size: 0.8rem;
	}

	@keyframes loading {
		from {
			transform: rotate(0);
		}

		to {
			transform: rotate(45deg);
		}
	}

	.body-me .card {
		background-color: #f0f0f0;
		padding: 10px;
	}

	.body-me .order-box {
		margin-bottom: 10px;
		border-radius: 5px;
		padding: 20px;
		background-color: #fff;
	}

	.body-me .order-title {
		display: flex;
		justify-content: space-between;
	}

	.body-me .order-title .title-info>span {
		display: block;
	}

	.body-me .order-title .title-info-name {
		font-family: var(--heading-font-family);
		font-weight: var(--heading-font-weight);
		font-style: var(--heading-font-style);
	}

	.body-me .order-title .title-info-data {
		font-size: 0.8rem;
		color: #666666;
	}

	.body-me .order-body {
		padding-top: 10px;
	}

	.body-me .order-body li {
		display: flex;
		justify-content: space-between;
		padding: 5px 0;
	}

	.body-me .order-body .pro-img {
		width: 30%;
	}

	.body-me .order-body .pro-img>div {
		border: 1px solid #dddddd;
		overflow: hidden;
		border-radius: 10px;
	}

	.body-me .order-body .pro-info {
		width: 70%;
		padding: 0 10px;
	}

	.body-me .order-body .pro-info .info-title {
		font-weight: 700;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
	}

	.body-me .order-body .pro-info .info-style {
		display: flex;
		justify-content: space-between;
		color: #666666;
	}

	.body-me .order-footer {
		text-align: right;
	}

	.body-me .order-footer .all-total {
		font-family: var(--heading-font-family);
		font-weight: var(--heading-font-weight);
		font-style: var(--heading-font-style);
		color: #B82928;
	}

	.post {
		background-color: #fff;
		text-align: center;
		min-height: 100px;
		margin-top: 10px;
		display: none;
	}

	.post h3 {
		line-height: 100px;
		font-size: 1.3rem;
	}

	.icon-box li {
		display: inline-block;
		text-align: center;
	}

	.text-l {
		text-align: left;
	}

	.text-r {
		text-align: right;
	}

	.hidden {
		display: none;
	}

	.advert-me {
		background-color: #fff;
		margin-top: 10px;
		min-height: 400px;
	}

	.advert-me ul {
		padding: 50px 20px 0;
	}

	.advert-me li {
		height: 50px;
		line-height: 50px;
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
		background-color: #707070;
	}

	.advert-me li a {
		font-family: var(--heading-font-family);
		font-weight: var(--heading-font-weight);
		font-style: var(--heading-font-style);
		color: #ffffff;
		text-shadow: -2px 1px 3px rgba(0, 0, 0, .5);
	}


	.vip-overview__rule {
		font-size: 14px;
		color: #edede5;
		padding: 1rem 1rem 0;

	}

	.vip-overview__rule p {
		margin: 0;
	}

	.vip-rules__link {
		text-decoration: underline;
		cursor: pointer;
		display: inline-block;
		font-weight: 500;
	}

	.vip-icon__box {
		display: inline-block;
		background-color: #aaa;
		border-radius: 1rem;
		padding: 0 0.8rem;
	}

	.vip-icon__box .icon {
		font-size: 1.6rem;
	}

	.vip-icon__box span {
		padding: 0 6px;

	}

	.vip-level__s0 {
		background-color: #000000;
		border-radius: 50%;
		width: 0.6rem;
		height: 0.6rem;
	}

	.vip-solid {
		background-color: #b8b8b8;
		height: 1px;
		width: 2rem;
	}

	.vip-grade {
		padding: 1rem 0 2rem;
		align-items: center;
		justify-items: flex-start;
	}

	.vip-user__avatar {
		width: 4rem;
		height: 4rem;
		border-radius: 50%;
	}

	.vip-user__name {
		padding: 0 1rem;

	}

	.vip-page {
		justify-content: space-between;
		background: url({{ 'user_background.png' | asset_url }}) no-repeat -2rem 0rem;
		/* background-repeat: no-repeat; */
		background-size: 106% 100%;
		background-clip: border-box;
		min-height: 200px;
		padding: 2rem 3rem;
		display: grid;
		grid: auto-flow auto / repeat(2, 50%);
	}

	.vip-grade img {
		width: 2rem;
		height: 2rem;
	}

	.vip-grade,
	.vip-info__title {
		margin-left: 2rem;
	}

	.vip-rules {
		background-color: #eee;
		z-index: 3;
		color: #000000;
		cursor: text;
		padding: 1rem 2rem;
	}

	.vip-rules__title {
		text-align: center;
	}

	.rule-table {
		margin: 20px 0;
	}

	.rule-table td,
	.rule-table th {
		padding: 6px 10px;
	}

	.rule-table td:nth-child(1n+2),
	.rule-table th:nth-child(1n+2) {
		background-color: #c8c8c8;
		text-align: center;
	}

	.rule-tex {
		margin-bottom: 16px;
	}

	.close-rule__page {
		float: right;
		cursor: pointer;
	}

	.card.card--sticky {
		background-color: #eee;
	}

	.my-coupons .h3,
	.order-preview .h3 ,
	.profile-view .h3{
		text-align: center;
		font-weight: 700;
	}
	.profile-story__title{
		font-weight: 700;
	}
	.my-coupons {
		margin-top: 3rem;
		background-color: #eee;
		padding: 0 3rem 3rem;
	}

	.my-coupons__title {
		padding: 1rem 0;
	}

	.coupons-date {
		margin-top: 0.8rem;
		font-size: 14px;
	}

	.coupons-date li {
		list-style: disc;
	}

	.my-coupons__list {
		display: grid;
		grid: auto-flow auto / repeat(2, auto);
		grid-column-gap: 4rem;
		grid-row-gap: 3rem;
		color: #fff;
	}

	.my-coupons__list p {
		margin: 0;
	}

	.my-coupons__item {
		background-image: url({{ 'coupon.jpg' | asset_url }});
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-clip: border-box;
		padding: 0.6rem 4rem;
		position: relative;
		overflow: hidden;
	}

	.round-left,
	.round-right {
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		background-color: #eee;
		width: 2rem;
		height: 2rem;
		border-radius: 50%;
	}

	.round-left {
		left: -1rem;
	}

	.round-right {
		right: -1rem;
	}


	#main {
		background-color: #fff;
	}

	.backgrount_e {
		background-color: #eee;
	}

	.profile-view {
		padding: 30px 2rem;
	}

	.profile-record {
		margin-top: 2rem;
		padding: 2rem;
	}

	.profile-record h4 {
		margin: 0;
		font-size: 18px;
	}

	.page__item {
		margin-top: 1rem;
	}

	.page__item th {
		background-color: #d6d6d6;

	}

	.page__item th,
	.page__item td {
		text-align: center;
		padding: 8px 0;

	}

	.page__item table {
		width: 100%;
	}

	.profile-nav>summary {
		display: inline-block;
		margin-right: 1rem;
		padding: 1rem;
		cursor: pointer;
	}

	.profile-amount {
		color: #1ea364;
	}

	.card__linklist {
		overflow-x: auto;
		padding-bottom: 1rem;
	}

	.mobile-account__nav {
		width: 270%;
		justify-content: space-between;

	}

	.customers-services {
		background-color: #eee;
		text-align: center;
		min-height: 100px;
		margin-top: 10px;
		padding: 2rem;
	}
	.my_addresses .card{
			background-color: #eee;
		}
		.product-list--collection,.product-list--collection .product-item{
			background-color: #fff;
		}
	@media screen and (max-width: 999px) {
		.profile-view {
			padding: 30px 10px;
		}

		.profile-record {
			margin: 0;
			padding: 10px;
		}

		.profile-nav>summary {
			margin: 0;
		}

		.my-coupons {
			margin-top: 1rem;
		}

		.my-coupons__list {
			grid: auto-flow auto / repeat(1, auto);
			grid-row-gap: 2rem;
		}

		.order-preview {
			/* margin-top: 1.6rem; */
			display: none;
		}

		.vip-page {
			padding: 1rem 10px;
			background: #eee;
			grid: repeat(2, auto)/ auto-flow auto;
			grid-row-gap: 1rem;
		}

		.vip-overview {
			padding: 0 2rem
		}

		.vip-overview__rule {
			padding: 1rem 2rem;
			background: #636363;
		}

		.vip-upgrade__info {
			display: flex;
			flex-wrap: wrap;
		}

		.vip-upgrade__header {
			font-weight: 600;
		}

		.my_coupons {
			padding: 1rem 2.6rem;
		}

		.my_addresses .h1 {
			text-align: center;
		}

		.order-me .h3 {
			text-align: center;
		}
	
	}
</style>

<script>
	~ function () {
		let getDataFlag = false;
		let ajaxObj = ''
		let currentPage = ''
		function getData(url, fn) {
			// if (getDataFlag) return;
			getDataFlag = true;
			let http = new XMLHttpRequest();
			http.open('GET', url);
			http.send();
			http.onreadystatechange = () => {
				if (http.readyState == 4) {
					getDataFlag = false;
					if (http.status == 200 && !getDataFlag) {
						fn(http.responseText);
					}
				}
			}
			ajaxObj = http
		}

		function loading(bool) {
			let loading = document.querySelector('#loading')
			let body_me = document.querySelector('#body_me')
			let nullbox = document.querySelector('#order_null')
			if (bool) {
				loading.style.display = 'block';
				body_me.innerHTML = ''
				nullbox.style.display = 'none'
			} else {
				loading.style.display = 'none';
			}
		}

		function upData(data) {
			loading(false);
			let body_me = document.querySelector('#body_me')
			body_me.style.display = 'block'
			body_me.innerHTML = data
			isnull(data)
		}

		function isnull(data) {

			let fag = new DOMParser().parseFromString(data, 'text/html').querySelectorAll('.card .order-box')
			let nullbox = document.querySelector('#order_null')
			let body_me = document.querySelector('#body_me')
			if (!fag.length) {
				nullbox.style.display = 'block'
				body_me.style.display = 'none'
			} else {
				nullbox.style.display = 'none'
			}
		}

		function event() {
			let orders_list = document.querySelector("#orders-list")
			let orders_li = document.querySelectorAll("#orders-list>li")
			let post = document.querySelector('#post');
			let body_me = document.querySelector('#body_me')
			let nullbox = document.querySelector('#order_null')
			orders_list.onclick = (ev) => {
				let target = ev.target.tagName === "LI" ? ev.target : ev.target.parentElement;
				let item = target.dataset.item;
				if (currentPage === item) return
				currentPage = item
				if (target.tagName === "LI") {
					for (let i = 0; i < orders_li.length; i++) {
						orders_li[i].classList.remove('current')
					}
					target.classList.add('current')

					try { ajaxObj.abort() } catch (error) { }
					if (item !== 'post-sale') {
						post.style.display = 'none'
						loading(true);
						let url = '?section_id=my-' + item;
						getData(url, upData)
					} else {
						loading(false);
						post.style.display = 'block'
						body_me.style.display = 'none'
						nullbox.style.display = 'none'
					}
				}

			}
		}

		window.onhashchange = function (e) {
			try {
				var url = window.location.hash.split("+")[1].toLowerCase()
				document.querySelectorAll('#orders-list [data-item]').forEach(item => item.classList.remove('current'))
				const nav = document.querySelector(`#orders-list [data-item="orders-${url}"]`)
				nav.classList.add('current')
				getData('?section_id=my-'+nav.dataset.item, upData)
			} catch (error) {
			}

		}

		function init() {
			let url = '?section_id=my-orders-all';
			let nullbox = document.querySelector('#order_null')
			nullbox.style.display = 'none'
			getData(url, upData)
		}
		event();
		init();

		function bindEvent(container,target,call){
			let content=document.querySelector(container)
			content.addEventListener('click',(e)=>{
				if(!e.target.classList.contains(target)) return
				e.preventDefault()
				call&&call(e,content,target)
				
			})

		}
		
		function deleteAddresses() {
			function getFormData(form) {
				var hash = [];
				for (var i = 0, len = form.elements.length; i < len; i++) {
					var formElement = form.elements[i];
					if (formElement.name === '' || formElement.disabled) {
						continue;
					}
					if (formElement.name && !formElement.disabled && (formElement.checked || /select|textarea/i.test(formElement.nodeName) || /hidden|text|search|tel|url|email|password|datetime|date|month|week|time|datetime-local|number|range|color/i.test(formElement.type))) {
						hash.push(formElement.name + '=' + formElement.value)
					}
				}

				return hash.join('&');
			}

			document.querySelector('.form__submit[data-submitForm]').onclick = function (e) {
				e.preventDefault()
				const form = e.target.closest('form')
				const formData = getFormData(form)
				fetch('/account/addresses', {
					method: "POST",
					headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
					body: formData
				}).then(response => {
					location.reload()

				})

			}

			document.querySelector('.address-list').addEventListener('click', ({ target }) => {
				if (!target.dataset.target) return
				if (confirm("Are you sure you wish to delete this address?")) {
					fetch(target.dataset.target, { method: "POST", headers: { 'Content-Type': 'application/x-www-form-urlencoded' }, body: '_method=delete' }).then(response => {
						location.reload()
					})
				}
			})
		}
		deleteAddresses()

		function getPoint() {

			let allPrice = 0

			{% for order in customer.orders %}
			{% if order.financial_status == 'fulfilled' %}
			allPrice += ('{{ order.total_price }}' * 1) || 0
			{% endif %}
			{% endfor %}
			let point = Math.round(allPrice / 100)
			document.querySelector(".account-points").innerHTML = point
		}
		// getPoint()

		function getCoupons() {
			let data = [{
				couponName: '%15 OFF',
				coupon: 'For order over us$49.00',
				couponCode: 'HY15',
				couponGetDate: '16/05/2022 02:00:00',
				couponClosingDate: '16/06/2022 02:00:00',
				scopeOfUse: 'for All Products'
			},
			{
				couponName: '%15 OFF',
				coupon: 'For order over us$49.00',
				couponCode: 'HY15',
				couponGetDate: '16/05/2022 02:00:00',
				couponClosingDate: '16/06/2022 02:00:00',
				scopeOfUse: 'for All Products'
			},
		
			{
				couponName: '%15 OFF',
				coupon: 'For order over us$49.00',
				couponCode: 'HY15',
				couponGetDate: '16/05/2022 02:00:00',
				couponClosingDate: '16/06/2022 02:00:00',
				scopeOfUse: 'for All Products'
			}]

			const couponView = document.querySelector('.my-account .my-coupons__list')
			const unusedCoupons = document.querySelector('.unused__coupons .my-coupons__list')
			const expiredCoupons = document.querySelector('.expired__coupons .my-coupons__list')

			let couponList = data.map((item, i) => {
				return `<div class="my-coupons__item">
								<p>${item.couponName}</p>	
								<p>${item.coupon}</p>	
								<p>Code:${item.couponCode}</p>	
									<ul class="coupons-date">
										<li>${item.couponGetDate}~${item.couponClosingDate}</li>
										<li>${item.scopeOfUse}</li>
									</ul>
									<span class="round-left"></span>
									<span class="round-right"></span>
								</div>`}).join('')
			couponView.innerHTML = couponList
			unusedCoupons.innerHTML=couponList
			expiredCoupons.innerHTML=couponList

		}

		getCoupons()
		class DetailsMenu extends HTMLElement {
			constructor() {
				super();
				this.addEventListener('click', (e) => {
					e.preventDefault()
					let target = e.target
					if (!['summary'].includes(target.tagName.toLowerCase()) || target.getAttribute('aria-expanded') === 'true') return
					this.onAcativ(target)

				})
			}

			onAcativ(target) {
				this.close(target)
				const activePage = this.querySelector(`.page__item[data-index="${target.dataset.index}"]`)
				activePage.setAttribute('aria-hidden', false)
				target.setAttribute('aria-expanded', true)

			}

			close() {
				const oldActiveNav = this.querySelector('[aria-expanded="true"]')
				const oldActivePage = this.querySelector('[aria-hidden="false"]')
				oldActivePage.setAttribute('aria-hidden', true)
				oldActiveNav.setAttribute('aria-expanded', false);
			}
		}
		customElements.define('details-menu', DetailsMenu);

		const rules = document.querySelector('.vip-rules')
		const user = document.querySelector('.my-account')

		bindEvent('.my_overview','vip-rules__link',()=>{
			user.style.display = "none"
			rules.style.display = 'block'
			window.scroll(0, 0)
		})
		bindEvent('.my_overview','close-rule__page',()=>{
			rules.style.display = 'none'
			user.style.display = "block"
		})
	
	function getToken(){
		const customerJson = {
			"email": {{customer.email |json}},
			"id": {{customer.id}}
		}
				// console.log(customerJson)
		let url = 'http://api.leandow-technology.com/api/customerAccount/login'

		
		fetch(url, {
			method: "POST",
			body: JSON.stringify(customerJson),
			headers: { 'content-type': 'application/json','siteValue':'hyfol'}
		}).then(data => {

			console.log('data', data,`-----date:${new Date().toLocaleString()}---`);
		})

	const requist= new	XMLHttpRequest
	requist.open('post',url,true)
	requist.setRequestHeader('content-type','application/json')
	requist.setRequestHeader('siteValue','hyfol')
	requist.send(JSON.stringify(customerJson))
	console.log(requist.responseText)
	}
	getToken()

	}()
</script>


{% schema %}
{
		"name": "个人中心左侧导航",
		"settings": [{
			"type":"image_picker",
			"id":"points_rule",
			"label":"积分兑换规则图"
		}],
		"blocks": [{
		"name": "nav_title",
		"type": "trust",
		"settings": [{
			"type": "text",
			"id": "nav_title",
			"label": "Heading",
			"default": "导航标题"
		},
		{
			"type": "text",
			"id": "nav_right",
			"label": "右侧区域对应类名"
		},
		{
			"type": "checkbox",
			"id": "nav_show",
			"label": "是否展示导航",
			"default": true
		},
		{
			"type":"select",
			"id":"nav_icon",
			"options": [{
              "value": "none",
              "label": "无"
            },
			{
				"value":"account-text",
				"label":"文本"
			},
			{
				"value":"account-my",
				"label":"用户"
			},
			{
				"value":"account-logout",
				"label":"退出"
			},
			{
				"value":"account-palay",
				"label":"支付"
			},
			{
				"value":"account-collect",
				"label":"收藏"
			},
			{
				"value":"account-renz",
				"label":"认证"
			},
			{
				"value":"account-cart",
				"label":"购物车"
			},
			{
				"value":"account-setting",
				"label":"设置"
			},
			{
				"value":"cjj_post_sale",
				"label":"客服"
			},
			{
				"value":"coupon",
				"label":"优惠券"
			},
			{
				"value":"account-location",
				"label":"定位"
			}],
			"default":"none",
			"label":"选择图标"
		}]
		}]
		

}
{% endschema %}