{%- assign filter_tree_vertical_style = shop.metafields.bc-sf-filter.settings | split: 'general":' | last | split: 'filterTreeVerticalStyle":"' | last | split: '","' | first | strip -%}
{%- assign enable_filter_sticky_d = shop.metafields.bc-sf-filter.settings | split: 'general":' | last | split: 'stickyFilterOnDesktop":' | last | split: ',' | first | strip -%}
{%- assign enable_filter_sticky_m = shop.metafields.bc-sf-filter.settings | split: 'general":' | last | split: 'stickyFilterOnMobile":' | last | split: ',' | first |  split: '}}' | first | strip -%}

{%- assign enable_filter_tree_button_desktop_v = false -%}
{%- if filter_tree_vertical_style == 'style-off-canvas' or filter_tree_vertical_style == 'style-expand' -%}
  {%- assign enable_filter_tree_button_desktop_v = true -%}
{%- endif -%}

{%- assign items_per_page = cart.attributes.collection_products_per_page | default: section.settings.default_products_per_page -%}

{%- capture grid_classes -%}1/3--tablet 1/{{ section.settings.products_per_row }}--lap-and-up{%- endcapture -%}

{%- assign view_mode = cart.attributes.collection_layout | default: section.settings.default_view_layout -%}

{% assign boost_settings = shop.metafields.bc-sf-filter.settings %}

{% assign boost_in_collection_search = boost_settings | split: 'enableCollectionSearch":' | last | split: ',"' | first | strip %}

{%- capture section_settings -%}
{
  "currentSortBy": {{ collection.sort_by | default: collection.default_sort_by | json }},
  "currentTags": [],
  "filterType": "group",
  "defaultLayout": {{ view_mode | json }},
  "defaultProductsPerPage": {{ items_per_page | json }},
  "isAutomatic": false,
  "gridClasses": {{ grid_classes | json }}
}
{%- endcapture -%}

<section data-section-id="{{ section.id }}" data-section-type="collection" data-section-settings='{{ section_settings }}'>
  <div class="container container--flush">
    <div class="page__sub-header">
      <nav aria-label="{{ 'general.breadcrumb.title' | t }}" class="breadcrumb">
        <ol class="breadcrumb__list">
          <li class="breadcrumb__item">
              <a class="breadcrumb__link link" href="{{ routes.root_url }}">{{ 'general.breadcrumb.home' | t }}</a> {%- render 'icon', icon: 'arrow-right' -%}
          </li>
          <li class="breadcrumb__item">
            {%- if current_tags -%}
            <a class="boost-pfs-filter-collection-header breadcrumb__link link" href="{{ collection.url }}" {% unless current_tags %}aria-current="page"{% endunless %}>
              {%- if collection.handle == 'all' -%}
              {{- 'collection.general.all_products' | t -}}
              {%- else -%}
              {{- collection.title -}}
              {%- endif -%}
            </a>

            {%- render 'icon', icon: 'arrow-right' -%}
            {%- else -%}
            <span class="boost-pfs-filter-collection-header breadcrumb__link" aria-current="page">
              {%- if collection.handle == 'all' -%}
              {{- 'collection.general.all_products' | t -}}
              {%- else -%}
              {{- collection.title -}}
              {%- endif -%}
            </span>
            {%- endif -%}
            </li>

          {%- if current_tags -%}
          <li class="breadcrumb__item">
            {%- if section.settings.filter_type == 'tag' -%}
            {%- assign tag = current_tags.first -%}
            {%- elsif section.settings.filter_type == 'group' -%}
            {%- assign tag = current_tags.first | split: '_' | last -%}
            {%- endif -%}

            <span class="breadcrumb__link" aria-current="page">{{ tag | capitalize }}</span>
          </li>
          {%- endif -%}
        </ol>
      </nav>
    </div>

    <div class="layout boost-pfs-filter-wrapper">
    {%- comment -%}
    --------------------------------------------------------------------------------------
    FILTER BAR (DESKTOP)
    --------------------------------------------------------------------------------------
    {%- endcomment -%}

    <div class="boost-pfs-filter-left-col layout__section layout__section--secondary">
      <div class="card">
        <div class="card__section card__section--tight">
          <p class="card__title--small heading hidden-pocket">{{ 'collection.filter.all' | t }}</p>
          <div class="boost-pfs-filter-tree boost-pfs-filter-tree-v" data-is-desktop>
          {%- unless enable_filter_tree_button_desktop_v -%}
            {% render 'boost-pfs-filter-skeleton', type: 'filter-tree' %}
          {%- endunless -%}
          </div>
        </div>
      </div>
    </div>

    {%- paginate collection.products by items_per_page -%}
      <div class="boost-pfs-filter-right-col layout__section">
        <div class="collection">
          {%- unless collection.template_suffix == 'brand' -%}
            {%- if section.settings.show_collection_image and collection.image and collection.all_products_count > 0 -%}
              {%- if section.settings.collection_image_size == 'preserve_ratio' -%}
              {%- capture supported_sizes -%}{%- render 'image-size', sizes: '400,500,600,700,800,900,1000, 1200, 1400, 1600', image: collection.image -%}{%- endcapture -%}
              {%- assign image_url = collection.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

              <div class="collection__image-wrapper collection__image-wrapper--preserve-ratio">
                <div class="aspect-ratio" style="padding-bottom: {{ 100.0 | divided_by: collection.image.aspect_ratio }}%">
                <img class="lazyload image--fade-in" data-src="{{ image_url }}" data-sizes="auto" data-widths="[{{ supported_sizes }}]" alt="{{ collection.image.alt | escape }}">
                </div>
              </div>
            {%- else -%}
              <div class="collection__image-wrapper collection__image-wrapper--{{ section.settings.collection_image_size }}" style="background-image: url({{ collection.image | img_url: '1x1' }})">
                <div class="collection__image lazyload image--fade-in" data-bgset="{{ collection.image | img_url: '600x' }} 600w, {{ collection.image | img_url: '800x' }} 800w, {{ collection.image | img_url: '1000x' }} 1000w, {{ collection.image | img_url: '1200x' }} 1200w, {{ collection.image | img_url: '1500x' }} 1500w"></div>
              </div>
              {%- endif -%}
            {%- endif -%}
          {%- endunless -%}

          {%- comment -%}
          --------------------------------------------------------------------------------------
          TOP PART (COLLECTION INFO + TOOLBAR)
          --------------------------------------------------------------------------------------
          {%- endcomment -%}

          <div class="card">
            <header class="card__header {% unless collection.template_suffix == 'brand' %}card__header--tight{% endunless %}">
              <div class="collection__header {% if collection.template_suffix == 'brand' %}collection__header--brand{% endif %}">
                  {%- if section.settings.show_collection_image and collection.image and collection.all_products_count > 0 and collection.template_suffix == 'brand' -%}
                <div class="collection__brand-logo-wrapper hidden-pocket">
                    <div class="collection__brand-logo-image lazyload image--fade-in" data-bg="{{ collection.image | img_url: '250x' }}"></div>
                </div>
                {%- endif -%}

                <div class="collection__header-inner">
                  <div class="collection__meta">
                      {%- if section.settings.show_collection_image and collection.image and collection.all_products_count > 0 and collection.template_suffix == 'brand' -%}
                    <div class="collection__brand-logo-wrapper hidden-lap-and-up">
                        <div class="collection__brand-logo-image lazyload image--fade-in" data-bg="{{ collection.image | img_url: '250x' }}"></div>
                    </div>
                    {%- endif -%}
                    <div class="collection__meta-inner">
                      <h1 class="boost-pfs-filter-collection-header collection__title heading h1">
                      {%- if collection.handle == 'all' -%}
                        {{- 'collection.general.all_products' | t -}}
                      {%- else -%}
                        {{- collection.title -}}
                      {%- endif -%}
                      </h1>

                      <p class="boost-pfs-filter-total-product collection__products-count text--small hidden-desk"></p>
                    </div>
                  </div>

                  {%- if collection.description != blank -%}
                  {%- assign allow_collapse_description = false -%}

                  {%- if section.settings.collapse_collection_description -%}
                    {%- assign allow_collapse_description = true -%}
                  {%- endif -%}

                  <div class="collection__description {% if allow_collapse_description %}expandable-content{% endif %}" aria-expanded="false">
                    <div class="rte boost-pfs-filter-collection-description">
                    {{ collection.description }}
                    </div>

                    {%- if allow_collapse_description -%}
                    <button class="expandable-content__toggle">
                      <span class="expandable-content__toggle-icon"></span>
                      <span class="expandable-content__toggle-text" data-view-more="{{ 'collection.general.view_more' | t | escape }}" data-view-less="{{ 'collection.general.view_less' | t | escape }}">{{- 'collection.general.view_more' | t -}}</span>
                    </button>
                    {%- endif -%}
                  </div>
                  {%- endif -%}
                </div>
              </div>
            </header>

            <div class="collection__dynamic-part">
              <div class="{% if enable_filter_sticky_m %}boost-pfs-filter-tree-mobile-button-stick-wrapper {% endif %}">
                <div class="{% if enable_filter_sticky_d and enable_filter_tree_button_desktop_v %} boost-pfs-filter-tree-desktop-button-sticky-wrapper {% endif %}  collection__toolbar {% if collection.description != blank %}collection__toolbar--bordered{% endif %}">
                  {%- if enable_filter_tree_button_desktop_v  -%}
                    <div class="boost-pfs-filter-tree-desktop-button">{%- render 'boost-pfs-filter-skeleton', type: 'button' -%}</div>
                  {%- endif -%}
                  <div class="boost-pfs-filter-tree-mobile-button">{%- render 'boost-pfs-filter-skeleton', type: 'button' -%}</div>

                  <div class="collection__toolbar-item collection__toolbar-item--count hidden-pocket">
                    <span class="boost-pfs-filter-total-product collection__showing-count hidden-pocket hidden-lap"></span>

                    <div class="boost-pfs-filter-top-show-limit value-picker-wrapper"></div>

                  </div>

                  <div class="collection__toolbar-item collection__toolbar-item--sort">
                    <div class="value-picker-wrapper boost-pfs-filter-top-sorting">
                    </div>
                  </div>

                  <div class="collection__toolbar-item collection__toolbar-item--layout">
                    <span class="collection__layout-label hidden-phone">{{ 'collection.layout.title' | t }}</span>

                    {%- if section.settings.default_view_layout == 'grid' -%}
                    <button type="button" class="collection__layout-button {% if view_mode == 'grid' %}is-selected{% endif %} link touch-area" aria-label="{{ 'collection.layout.grid' | t }}" data-action="change-layout" data-layout-mode="grid">{% include 'icon' with 'grid' %}</button>
                    <button type="button" class="collection__layout-button {% if view_mode == 'list' %}is-selected{% endif %} link touch-area" aria-label="{{ 'collection.layout.list' | t }}" data-action="change-layout" data-layout-mode="list">{% include 'icon' with 'list' %}</button>
                    {%- else -%}
                    <button type="button" class="collection__layout-button {% if view_mode == 'list' %}is-selected{% endif %} link touch-area" aria-label="{{ 'collection.layout.list' | t }}" data-action="change-layout" data-layout-mode="list">{% include 'icon' with 'list' %}</button>
                    <button type="button" class="collection__layout-button {% if view_mode == 'grid' %}is-selected{% endif %} link touch-area" aria-label="{{ 'collection.layout.grid' | t }}" data-action="change-layout" data-layout-mode="grid">{% include 'icon' with 'grid' %}</button>
                    {%- endif -%}
                  </div>
                  <div class="boost-pfs-filter-tree boost-pfs-filter-tree-v" data-is-mobile></div>
                </div>
              </div>

              {% if boost_in_collection_search == 'true' %}
                <div class="boost-pfs-in-collection-search">
                  {% render 'boost-pfs-filter-skeleton', width: 4 %}
                </div>
              {% endif %}

              {%- comment -%}
              --------------------------------------------------------------------------------------
              COLLECTION PRODUCTS
              --------------------------------------------------------------------------------------
              {%- endcomment -%}

              {%- if view_mode == 'grid' -%}
              {%- assign show_as_list = false -%}
              {%- else -%}
              {%- assign show_as_list = true -%}
              {%- endif -%}

              <div class="boost-pfs-filter-products product-list product-list--collection">
              {%- for product in collection.products -%}
                {%- include 'product-item', list: show_as_list, grid_classes: grid_classes -%}
              {%- endfor -%}
              </div>
              <div class="boost-pfs-filter-bottom-pagination pagination"></div>
              <div class="boost-pfs-filter-load-more"></div>
            </div>
          </div>
        </div>
      </div>
    {%- endpaginate -%}
    </div>
  </div>

  {%- comment -%}
  --------------------------------------------------------------------------------------
  QUICK VIEW CONTAINER
  --------------------------------------------------------------------------------------
  {%- endcomment -%}

  <div id="modal-quick-view-{{ request.page_type | strip }}-template" class="modal" aria-hidden="true">
    <div class="modal__dialog modal__dialog--stretch" role="dialog">
    <button class="modal__close link" data-action="close-modal">{%- include 'icon' with 'close' -%}</button>

    <div class="modal__loader">
      {%- include 'icon' with 'search-loader' -%}
    </div>

    <div class="modal__inner"></div>
    </div>
  </div>
</section>


{% capture rating_star_half %}
	{%- render 'icon' with 'rating-star-half', class: 'rating__star rating__star--half' -%}
{% endcapture %}

{% capture rating_star_full %}
	{%- render 'icon' with 'rating-star', class: 'rating__star rating__star--full' -%}
{% endcapture %}

{% capture rating_star_empty %}
	{%- render 'icon' with 'rating-star', class: 'rating__star rating__star--empty' -%}
{% endcapture %}

<script>
  // Declare boostPFSThemeConfig variable
  var boostPFSThemeConfig = {
    label: {
      previous_page: "{{ 'general.pagination.previous_page' | t }}",
      next_page: "{{ 'general.pagination.next_page' | t }}",
      add_to_cart: "{{ 'collection.product.add_to_cart' | t }}",
      quick_view: "{{ 'collection.product.quick_view' | t }}",
      choose_options: "{{ 'collection.product.choose_options' | t }}",
      sold_out: "{{ 'collection.product.sold_out' | t }}",
      in_stock: "{{ 'collection.product.in_stock' | t }}",

      from: "{{ 'collection.product.from_price_html' | t }}",
      sale: "{{ 'collection.product.discount_html' | t }}",
      products_count: {
        one: "{{ 'collection.general.products_count.one' | t }}",
        other: "{{ 'collection.general.products_count.other' | t }}",
      },
      showing_count: {
        zero: "{{ 'collection.general.showing_count.zero' | t }}",
        one:  "{{ 'collection.general.showing_count.one' | t }}",
        other: "{{ 'collection.general.showing_count.other' | t }}",
      },
      low_stock_with_quantity_count: {
        one: "{{ 'collection.product.low_stock_with_quantity_count.one' | t }}",
        other: "{{ 'collection.product.low_stock_with_quantity_count.other' | t }}",
      },
      in_stock_with_quantity_count: {
        one: "{{ 'collection.product.in_stock_with_quantity_count.one' | t }}",
        other: "{{ 'collection.product.in_stock_with_quantity_count.one' | t }}",
      },
      search_title_with_terms: "{{ 'search.general.title_with_terms' | t }}",
      sorting_accessibility_close: "{{ 'general.accessibility.close' | t }}",
      display: {{ 'collection.general.display' | t | json }},
      page_size: {{ 'collection.general.page_size' | t | json }},
      star_reviews_info: {{ 'general.accessibility.star_reviews_info' | t | json }},
      reviews_count: {{ 'product.general.reviews_count.other' | t | json }},
    },
    custom: {
      products_per_page: {% if section.settings.default_products_per_page %} {{ section.settings.default_products_per_page | json }} {% else %} 24 {% endif %},
      products_per_row: {% if section.settings.products_per_row %} {{ section.settings.products_per_row }} {% else %} 4 {% endif %},
      show_vendor: {% if settings.show_vendor %} {{ settings.show_vendor | json }} {% else %} false {% endif %},
      show_secondary_image: {% if settings.show_secondary_image %} {{ settings.show_secondary_image | json }} {% else %} false {% endif %},
      show_discount: {% if settings.show_discount %} {{ settings.show_discount | json }} {% else %} false {% endif %},
      discount_mode: {% if settings.discount_mode %} {{ settings.discount_mode | json }} {% else %} 'saving' {% endif %},
      show_filter_color_swatch: {% if section.settings.show_filter_color_swatch %} {{ section.settings.show_filter_color_swatch | json }} {% else %} true {% endif %},
      show_reviews_badge: {% if settings.show_reviews_badge %} {{ settings.show_reviews_badge | json }} {% else %} false {% endif %},
      product_price_position: {% if settings.product_price_position %} {{ settings.product_price_position | json }} {% else %} 'after_title' {% endif %},
      product_image_size: {% if settings.product_image_size %} {{ settings.product_image_size | json }} {% else %} 'natural' {% endif %},
      show_inventory_quantity: {% if settings.show_inventory_quantity %} {{ settings.show_inventory_quantity | json }} {% else %} false {% endif %},
      low_inventory_threshold: {% if settings.low_inventory_threshold %} {{ settings.low_inventory_threshold | json }} {% else %} 0 {% endif %},
      show_quick_view: {% if section.settings.show_quick_view %} {{ section.settings.show_quick_view | json }} {% else %} 'list' {% endif %},
      show_quick_buy: {% if section.settings.show_quick_buy %} {{ section.settings.show_quick_buy | json }} {% else %} 'list' {% endif %},
      show_sorting: true,
      show_color_swatch: {% if settings.show_color_swatch  %} {{ settings.show_color_swatch | json }} {% else %} false {% endif %},
      currency_conversion_enabled: {% if settings.currency_conversion_enabled %} {{ settings.currency_conversion_enabled | json }} {% else %} false {% endif %},
      currency_code_enabled: {% if settings.currency_code_enabled %} {{ settings.currency_code_enabled | json }} {% else %} false {% endif %},
      template: {{ request.page_type | json }},
      rating_star_half:    {{ rating_star_half | json }},
      rating_star_full:    {{ rating_star_full | json }},
      rating_star_empty:    {{ rating_star_empty | json }},
      currency_code_enabled: {% if settings.currency_code_enabled %} {{ settings.currency_code_enabled | json }} {% else %} false {% endif %},
      color_swatch_config: {{ settings.color_swatch_config | newline_to_br | split: '<br />' | json }},
    }
  };

  // Declare Templates
  var boostPFSTemplate = {
    // Grid Template
    'productGridItemHtml': {% render 'boost-pfs-filter-html', layout: 'productGridItemHtml' %},
    'quickViewHtml': {% render 'boost-pfs-filter-html', layout: 'quickViewHtml' %},

    // Label Template
    'saleLabelHtml': {% render 'boost-pfs-filter-html', layout: 'saleLabelHtml' %},
    'tagLabelHtml': {% render 'boost-pfs-filter-html', layout: 'tagLabelHtml' %},
    'imageHtml': {% render 'boost-pfs-filter-html', layout: 'imageHtml' %},
    'reviewHtml':  {% render 'boost-pfs-filter-html', layout: 'reviewHtml' %},
    'quickBuyHtml': {% render 'boost-pfs-filter-html', layout: 'quickBuyHtml' %},
    'quickBuyChooseOptionsHtml': {% render 'boost-pfs-filter-html', layout: 'quickBuyChooseOptionsHtml' %},
    'quickBuySoldOutHtml': {% render 'boost-pfs-filter-html', layout: 'quickBuySoldOutHtml' %},

    // Pagination Template
    'pageItemPreviousHtml': {% render 'boost-pfs-filter-html', layout: 'pageItemPreviousHtml' %},
    'pageItemNextHtml': {% render 'boost-pfs-filter-html', layout: 'pageItemNextHtml' %},
    'pageItemHtml': {% render 'boost-pfs-filter-html', layout: 'pageItemHtml' %},
    'paginateHtml': {% render 'boost-pfs-filter-html', layout: 'paginateHtml' %},

    // Sorting Template
    'sortingHtml': {% render 'boost-pfs-filter-html', layout: 'sortingHtml' %},
    'sortingItemHtml': {% render 'boost-pfs-filter-html', layout: 'sortingItemHtml' %},
    'showLimitHtml': {% render 'boost-pfs-filter-html', layout: 'showLimitHtml' %},
  };
</script>

{% schema %}

{
"name": "Collection",
"settings": [
{
"type": "checkbox",
"id": "show_collection_image",
"label": "Show collection image",
"default": true
},
{
"type": "checkbox",
"id": "collapse_collection_description",
"label": "Collapse long description",
"default": false
},
{
"type": "select",
"id": "collection_image_size",
"label": "Collection image size",
"options": [
{
"value": "preserve_ratio",
"label": "Original image ratio"
},
{
"value": "small",
"label": "Small"
},
{
"value": "medium",
"label": "Medium"
},
{
"value": "large",
"label": "Large"
}
],
"default": "small"
},
{
"type": "select",
"id": "products_per_row",
"label": "Products per row (desktop)",
"options": [
{
"value": "3",
"label": "3"
},
{
"value": "4",
"label": "4"
}
],
"default": "4"
},
{
"type": "range",
"id": "default_products_per_page",
"label": "Default products per page",
"min": 24,
"max": 48,
"step": 12,
"default": 24
},
{
"type": "select",
"id": "default_view_layout",
"label": "Default view layout",
"options": [
{
"value": "grid",
"label": "Grid"
},
{
"value": "list",
"label": "List"
}
],
"default": "grid"
},
{
"type": "select",
"id": "show_quick_buy",
"label": "Show quick buy on...",
"options": [
{
"value": "list",
"label": "List view"
},
{
"value": "list_grid",
"label": "List and grid views"
}
],
"default": "list"
},
{
"type": "select",
"id": "show_quick_view",
"label": "Show quick view on...",
"options": [
{
"value": "list",
"label": "List view"
},
{
"value": "list_grid",
"label": "List and grid views"
}
],
"default": "list"
},
{
"type": "header",
"content": "Sidebar"
},
{
"type": "link_list",
"id": "quick_links",
"label": "Quick links"
},
{
"type": "checkbox",
"id": "quick_links_show_products_count",
"label": "Show products count",
"info": "Only for collection links and filters",
"default": true
},
{
"type": "header",
"content": "Filtering"
},
{
"type": "checkbox",
"id": "show_filters",
"label": "Show filters",
"default": true
},
{
"type": "checkbox",
"id": "show_filter_color_swatch",
"label": "Show filter color swatch",
"info": "Requires a filter named \"Color\".",
"default": true
},
{
"type": "select",
"id": "open_group_filters_mode",
"label": "Filter opening mode (desktop)",
"options": [
{
"value": "all_closed",
"label": "All closed"
},
{
"value": "all_open",
"label": "All open"
},
{
"value": "first_open",
"label": "First open"
}
],
"default": "all_closed"
}
]
}
{% endschema %}
<style>
  .product-label--on-sale:empty {
    display: none;
  }
</style>
<script>
  function closeFilter(e) {
    if(document.getElementById('filter_content') != null){
      if (e.target.closest('.filter_card_layout') == null) {
      document.getElementById('filter_content').className = 'filter_content hidden-pocket'
    } else {  //点在过滤器区域内
      // console.log("点击区域在范围内");
      // if (event.target.id != "clean_all_button") {
      //   e = e || window.event || arguments.callee.caller.arguments[0]
      //   e.stopPropagation()
      //   document.getElementById('filter_content').className = 'filter_content_show hidden-pocket'
      // }
    }
    }
  
  }

  function filter(e) {
    e = e || window.event || arguments.callee.caller.arguments[0]
    e.stopPropagation()
    document.getElementById('filter_content').className == 'filter_content hidden-pocket' ? document.getElementById(
        'filter_content').className = 'filter_content_show hidden-pocket' : document.getElementById('filter_content')
      .className = 'filter_content hidden-pocket'
  }



  ~ function () {
    // 处理布局
    let productList = document.querySelector('.product-list')
    let clientWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
    if (clientWidth <= 640) {
      //  let productItem = document.querySelectorAll('.product-item')
      //   for (let i = 0; i < productItem.length; i++) {
      // 			if(i % 2 !== 0){
      //           console.log(i);
      //           productItem[i].style.paddingRight = '0'
      // 			}
      //   }
      if(document.querySelector('.product-item').className.includes("product-item--vertical") == true){
        productList.style.width = '102%'
      }
    } else {
      productList.style.width = '101%'
    }

    function getdata(spu) {
      return new Promise(function (resolve, reject) {
        let xhr = null;
        if (window.XMLHttpRequest) {
          xhr = new XMLHttpRequest();
        } else {
          xhr = new ActiveXObject("Microsoft.XMLHTTP")
        }
        let url = '/products/' + spu + '.js';
        xhr.open('get', url, true);
        xhr.onreadystatechange = () => {
          if (xhr.readyState === 4) {
            if (xhr.status === 200) {
              let data = {};
              data.code = 1;
              data.data = JSON.parse(xhr.responseText);
              resolve(data)
            } else {
              let data = {};
              data.code = 0;
              data.message = xhr.status;
              data.data = {};
              resolve(data);
            }
          }
        }
        xhr.send(null);
      })
    }

    class Product {
      constructor(product, ratingColor) {
        this.product = product;
        this.ratingColor = ratingColor || '';
        this.handle = product.handle;
        this.url = '/products/' + product.handle + '.js';
        this.el;
        this.init();
      }
      temp() {
        return `
<div class="product-item product-item--vertical  1/3--tablet-and-up 1/4--desk">
	<div class="product-item__label-list">
		<span
			class="product-label product-label--on-sale">#{save}</span>
	</div>
	<a href="#{url}" class="product-item__image-wrapper product-item__image-wrapper--with-secondary" style="background-color:#fff">
		<div class="aspect-ratio" style="padding-bottom: 100%">
			<img class="product-item__primary-image lazyload image--fade-in" data-media-id="#{data.primary_media_id}"
					 data-src="#{primary_media_src}" data-sizes="auto" data-widths="[200,300,400,500,600,700,800]"
					 alt=" ">
			<img class="product-item__secondary-image lazyload image--fade-in" data-src="#{second_media_src}"
					 data-sizes="auto" data-widths="[200,300,400,500,600,700,800]" alt=" ">
			<noscript>
				<img src="#{primary_media_src}" alt="">
			</noscript>
		</div>
	</a>
	<div class="product-item__info">
		<div class="product-item__swatch-list">
				<div class="color-swatch-list">

				</div>
		</div>
		<div class="product-item__info-inner">
			<a href="#{url}" class="product-item__title text--strong link product-item_mktClick product-item_text">#{title}</a>
			<div class="product-item__price-list price-list">
				<div>
					<span class="price price--highlight">
						<span class="visually-hidden">Sale price</span>
						<span class="cbb-special-price skiptranslate notranslate">#{price}</span>
					</span>
					<span class="price price--compare">
						<span class="visually-hidden">Regular price</span>
            <span class="cbb-special-price skiptranslate notranslate">#{compare_at_price}</span>
          </span>
				</div>
			</div>

		</div>
		<form method="post"
					action="/cart/add"
					id="product_form_id_#{id}_template--#{templateId}"
					accept-charset="UTF-8"
					class="product-item__action-list button-stack"
					enctype="multipart/form-data">
			<input type="hidden" name="form_type" value="product">
			<input type="hidden" name="utf8" value="✓">
			<input type="hidden" name="quantity" value="1">
			<input type="hidden" name="id" value="#{first_variants_id}">
			<button type="button"
							class="product-item__action-button button button--small button--ternary hidden-phone openQuickView aaa"
							data-action="open-modal"
							data-secondary-action="open-quick-view"
							aria-controls="modal-quick-view-template--#{templateId}"
							data-product-url="#{url}">Quick view
			</button>
		</form>
	</div>
	<span class="htusb-ui-boost htusb-ui-coll-boost htusb-data"
				data-v1="#{id}"
				data-v2="#{handle}"
				data-v3="#{product_type}"
				data-v4="#{tags}"></span>
</div>
`
      }
      color_temp() {
        return `<div class="color-swatch color-swatch--#{value_l}">
		<input class="color-swatch__radio"
					 type="radio"
					 name="#{name}"
					 id="#{id}"
					 value="#{value}"
					 data-variant-url="#{variantUrl}"
					 data-media-id="#{mediaId}"
					 data-image-url="#{imgUrl}"
					 data-image-widths="[200,300,400,500,600,700,800]"
					 data-image-aspect-ratio="1.0"
					 aria-label="#{value}">
		<label class="color-swatch__item #{class}" for="#{id}" title="#{value}">
			<span class="visually-hidden">#{value}</span>
		</label>
		<a href="#{url}" class="color-swatch__item-link">+#{num}</a>
</div>`
      }
      render() {
        let temp = this.temp();
        let colorTemp = this.color_temp();
        let str = temp.replace(/#{(\w+)}/g, (m, key) => {
          return this.data[key]
        });
        let dom = document.createElement('div')
        dom.innerHTML = str;
        let colorstr = ''
        for (let i = 0; i < this.colors.length; i++) {
          colorstr += colorTemp.replace(/#{(\w+)}/g, (m, key) => {
            return this.colors[i][key]
          });
        }
        dom.querySelector('.color-swatch-list').innerHTML = colorstr;
        dom.querySelector('.color-swatch__radio').setAttribute('checked', 'checked');
        let max = dom.querySelectorAll('.color-swatch');
        if (max.length > 4) {
          console.log(max.length)
          max[3].classList.add('color-swatch--view-more')
        }
        return dom.querySelector('.product-item');
      }
      init() {
        let product = this.product;
        let data = {};
        let colors = [];
        data.id = product.id;
        data.handle = product.handle;
        data.product_type = product.product_type;
        if (product.tags) {
          let tags_re = product.tags.reverse();
          data.tags = tags_re.join(',');
        } else {
          data.tags = '';
        }
        data.url = '/products/' + product.handle;
        data.title = product.title;
        data.primary_media_id = product.media[0].id;
        if (product.price < product.compare_at_price) {
          data.save = 'Save ' + Math.round((product.compare_at_price - product.price) * 100 / product
            .compare_at_price) + '%';
        } else {
          data.save = ''
        }
        data.price = '$' + (product.price / 100).toFixed(2);
        if (product.price < product.compare_at_price) {
          data.compare_at_price = '$' + (product.compare_at_price / 100).toFixed(2);
        } else {
          data.compare_at_price = ''
        }
        data.primary_media_src = product.media[0].src.replace(/.jpg/, '_{width}x.jpg');
        if (product.media[1]) {
          data.second_media_id = product.media[1].id;
          data.second_media_src = product.media[1].preview_image.src.replace(/.jpg/, '_{width}x.jpg');
        } else {
          data.second_media_id = product.media[0].id;
          data.second_media_src = product.media[0].src.replace(/.jpg/, '_{width}x.jpg');
        }

        data.first_variants_id = product.variants[0].id;
        data.ratingColor = this.ratingColor;
        data.templateId = document.querySelector('.product-item .product-item__info form').getAttribute('id').split(
          "--")[1];
        for (let i = 0, max = product.options[0].values.length; i < max; i++) {
          let color = {};
          let variants = product.options[0].values[i];
          color.name = 'template--' + data.templateId + '-' + product.id;
          color.id = 'template--' + data.templateId + '-' + product.id + '-' + (i + 1);
          color.url = '/products/' + product.handle;
          color.value = variants;
          color.num = max - i;
          color.value_l = variants.toLocaleLowerCase();
          color.class = color.value_l.replace(/\s/g, '_');
          for (let j = 0; j < product.variants.length; j++) {
            let obj = product.variants[j]
            if (obj.option1 === variants && obj['featured_media']) {
              color.mediaId = obj['featured_media'].id;
              color.variantUrl = '/products/' + product.handle + '?variant=' + obj['featured_media'].id;
              let imgUrl = obj['featured_media']['preview_image'].src;
              color.imgUrl = imgUrl.replace(/.jpg/, '_{width}x.jpg');
              break;
            }
          }
          colors.push(color)
        }
        this.data = data;
        this.colors = colors;
        let newdom = this.render();
        if (!this.data.compare_at_price) {
          newdom.querySelector('.price--highlight').classList.remove('price--highlight')
        }
        this.el = newdom;
        return newdom;
      }
    }


    const searchURL = location.search;
    const params = new URLSearchParams(searchURL);
    const searchStr = Object.fromEntries(params);
    if (searchStr.spu) {
      let spu = searchStr['spu'].split(',').reverse();
      var ratingColor = searchStr.color ? searchStr.color : '';
      let promiseList = [];
      for (let i = 0; i < spu.length; i++) {
        let olddom = document.querySelector('a[href="/products/' + spu[i].toLowerCase() + '"]');
        if (olddom) {
          olddom.parentNode.style.display = 'none';
        }
        let promiseItem = getdata(spu[i]);
        promiseList.push(promiseItem);
      }
      Promise.all(promiseList).then((arr) => {
        let fragment = document.createDocumentFragment();
        for (let i = 0; i < arr.length; i++) {
          if (arr[i].code) {
            let product = new Product(arr[i].data, ratingColor);
            fragment.prepend(product.el);
          } else {
            let num = arr.length - i;
          }
        }
        document.querySelector('.product-list').prepend(fragment);
      }).catch(e => {
        console.log(e)
      })
    }
  }()
</script>