<section class="hidden-lap-and-up">
	<div class="header-me container">
		{%- if customer -%}
		<input type="checkbox" id="account-input" class="account-input hidden">
		<ul class="logged">
			<li class=" text-l name"><span class="hi">Hi!&nbsp;</span>{{ customer.first_name }}</li>
			<li class=" text-r tab"><label for="account-input">{%- render 'icon', icon: 'arrow-bottom' -%}</label></li>
		</ul>
		<div class="account-box">
			{%- comment -%}
			<a href="{{ routes.account_url }}"
				class="value-picker__choice-item is-selected">{{ 'customer.general.orders' | t }}
				{% render 'icon', icon: 'check-2' %}</a>
			<a href="{{ routes.account_addresses_url }}"
				class="value-picker__choice-item">{{ 'customer.general.addresses' | t }}
				{% render 'icon', icon: 'check-2' %}</a>
			<a href="{{ routes.account_logout_url }}" class="value-picker__choice-item"
				data-no-instant>{{ 'customer.general.logout' | t }} {% render 'icon', icon: 'check-2' %}</a>
{%- endcomment -%}
<div class="card__linklist ">
					
	<left-nav-list>
		<div class="render_nav_list">
	  {%- for block in section.blocks -%}
	  {%- if block.settings.nav_show -%}
	  <div class="card__linklist-item link" style="cursor:pointer ;" data-right="{{block.settings.nav_right}}"> 
		  <span> {%- render 'icon', icon: {{block.settings.nav_icon}} -%}</span>
	  {{block.settings.nav_title}} 
	  </div>
	  {%- endif -%}
   {%- endfor -%}
  </div>
  </left-nav-list>
  
	  <a href="{{ routes.account_logout_url }}" class="card__linklist-item link"
		   data-no-instant>{% render 'icon', icon :"account-logout" %} {{ 'customer.general.logout' | t }}</a>
  </div>
         
		</div>
		{%- else -%}
		<ul class="no-logged">
			<li class="text-l"><a href="{{ routes.account_login_url }}?return_url={{ page.url }}">LOGIN &gt;</a></li>
			<li class="text-r"><a href="{{ routes.account_register_url }}">CREATE ACCOUNT&gt;</a></li>
		</ul>
		{%- endif -%}
	</div>

</section>

<section data-section-id="{{ section.id }}" data-section-type="account" class="">
	<div class="page__sub-header hidden-tablet">
		<nav aria-label="{{ 'general.breadcrumb.title' | t }}" class="breadcrumb">
			<ol class="breadcrumb__list" role="list">
				<li class="breadcrumb__item">
					<a class="breadcrumb__link link"
						href="{{ routes.root_url }}">{{ 'general.breadcrumb.home' | t }}</a>
					{%- render 'icon', icon: 'arrow-right' -%}
				</li>

				<li class="breadcrumb__item">
					<a class="breadcrumb__link link"
						href="{{ routes.account_url }}">{{ 'general.breadcrumb.account' | t }}</a>
					{%- render 'icon', icon: 'arrow-right' -%}
				</li>

				<li class="breadcrumb__item">
					<span class="breadcrumb__link" aria-current="page">Account Overview</span>
				</li>
			</ol>
		</nav>
	</div>
	<div class="container container--flush">

		<div class="layout">
			<div class="layout__section layout__section--secondary hidden-phone">
				<div class="card card--sticky hidden-pocket">
					<div class="card__section card__section--tight">

						<div class="card__linklist ">
					
						  <left-nav-list>
							  <div class="render_nav_list">
							{%- for block in section.blocks -%}
							{%- if block.settings.nav_show -%}
							<div class="card__linklist-item link" style="cursor:pointer ;" data-right="{{block.settings.nav_right}}"> 
								<span> {%- render 'icon', icon: {{block.settings.nav_icon}} -%}</span>
							{{block.settings.nav_title}} 
							</div>
							{%- endif -%}
						 {%- endfor -%}
						</div>
						</left-nav-list>
						
							<a href="{{ routes.account_logout_url }}" class="card__linklist-item link"
								 data-no-instant>{% render 'icon', icon :"account-logout" %} {{ 'customer.general.logout' | t }}</a>
						</div>
					</div>
				</div>

				<div class="value-picker-wrapper hidden-tablet-and-up">
					<button class="value-picker-button value-picker-button--pill" aria-haspopup="true"
						aria-expanded="false" aria-controls="account-selector" data-action="open-value-picker">
						{{- 'customer.general.orders' | t -}} {%- render 'icon', icon: 'arrow-bottom' -%}
					</button>

					<div id="account-selector" class="value-picker" aria-hidden="true">
						<div class="value-picker__inner">
							<header class="value-picker__header">
								<span
									class="value-picker__title text--strong">{{ 'customer.general.my_account' | t }}</span>
								<button class="value-picker__close" data-action="close-value-picker"
									aria-controls="account-selector"
									aria-label="{{ 'general.accessibility.close' | t }}">{% render 'icon', icon: 'close' %}</button>
							</header>

							<div class="value-picker__choice-list">
								<a href="{{ routes.account_url }}"
									class="value-picker__choice-item is-selected">{{ 'customer.general.orders' | t }}
									{% render 'icon', icon: 'check-2' %}</a>
								<a href="{{ routes.account_addresses_url }}"
									class="value-picker__choice-item">{{ 'customer.general.addresses' | t }}
									{% render 'icon', icon: 'check-2' %}</a>
								<a href="{{ routes.account_logout_url }}" class="value-picker__choice-item"
									data-no-instant>{{ 'customer.general.logout' | t }}
									{% render 'icon', icon: 'check-2' %}</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="layout__section ">

				<div class="wish_list account_right_content">
					<header>
						<h1 class="center wish_title">MY WISHLIST</h1>
					</header>

				

                    <div class="wish_loading">
						<div class="body-me loading">
						{%- render 'icon', icon: 'cjj_loading' -%}
						<span class="loading-text">&nbsp;loading...</span>
					</div>
				</div>
					<style>
						/* .openQuickView {
							display: none;
						} */

						.product-item__info {
							background-color: #ffffff;
						}

						.product-item_text,
						.product-item__info-inner .price {
							color: #000000;
						}

						.product-item__swatch-list {
							padding-bottom: 0px;
							min-height: 50px;
						}

						.scroller__inner .price--compare,
						.product-item__info-inner .price--compare {
							text-decoration: line-through black;
						}
					</style>

					<div class="collect page-width">

					</div>					

					<div id="czquickview" class="modal" aria-hidden="true">
						<div class="modal__dialog modal__dialog--stretch" role="dialog">
						  <button class="modal__close link" data-action="close-modal" title="Close"><svg focusable="false" class="icon icon--close " viewBox="0 0 19 19" role="presentation">
						<path d="M9.1923882 8.39339828l7.7781745-7.7781746 1.4142136 1.41421357-7.7781746 7.77817459 7.7781746 7.77817456L16.9705627 19l-7.7781745-7.7781746L1.41421356 19 0 17.5857864l7.7781746-7.77817456L0 2.02943725 1.41421356.61522369 9.1923882 8.39339828z" fill="currentColor" fill-rule="evenodd"></path>
					</svg></button>
					
						  <div class="modal__loader"><svg focusable="false" class="icon icon--search-loader " viewBox="0 0 64 64" role="presentation">
						<path opacity=".4" d="M23.8589104 1.05290547C40.92335108-3.43614731 58.45816642 6.79494359 62.94709453 23.8589104c4.48905278 17.06444068-5.74156424 34.59913135-22.80600493 39.08818413S5.54195825 57.2055303 1.05290547 40.1410896C-3.43602265 23.0771228 6.7944697 5.54195825 23.8589104 1.05290547zM38.6146353 57.1445143c13.8647142-3.64731754 22.17719655-17.89443541 18.529879-31.75914961-3.64743965-13.86517841-17.8944354-22.17719655-31.7591496-18.529879S3.20804604 24.7494569 6.8554857 38.6146353c3.64731753 13.8647142 17.8944354 22.17719655 31.7591496 18.529879z">
						</path>
						<path d="M1.05290547 40.1410896l5.80258022-1.5264543c3.64731754 13.8647142 17.89443541 22.17719655 31.75914961 18.529879l1.5264543 5.80258023C23.07664892 67.43614731 5.54195825 57.2055303 1.05290547 40.1410896z">
						</path>
					</svg></div>
					
						  <div class="modal__inner">
							   <div class="abc"></div>
						  </div>
						</div>
					  </div>

					{%- if customer -%}
					<div class="collect-body">
						<div class=" collect-body-layout">
						<div class="wish_center">
							You currently have nothing saved to your Wishlist.<br />
							Personalize your shopping experience with your Wishlist.
						</div>
						<div class="d-flex aic jcc sign-button">
							<a href="/collections/shop" class="sign-button">Let's Get Started!</a>
						</div>
					</div>
					</div>
					{%- endif -%}

					<script>
						async function post_data(url, data) {
							const response = await fetch(`https://api-dev.leandow-technology.com/api/${url}`, {
								method: 'POST',
								mode: 'cors',
								cache: 'no-cache',
								credentials: 'same-origin',
								headers: {
									'Content-Type': 'application/json',
									"siteValue": "leandowTest",
									"Access-Control-Allow-Origin": "*"
								},
								redirect: 'follow',
								referrerPolicy: 'no-referrer',
								body: JSON.stringify(data)
							});
							return response.json();
						}

						function getCollectList(event) {

						   var pageSectionId = document.querySelector(".page__sub-header").parentElement.getAttribute("data-section-id")
							const collectList = {
								current: 1,
								customerId: "{{customer.id}}",
								size: 100
							}
							post_data("customerCollectionProduct/collectionProductList", collectList)
								.then(res => {
									if (res.data.records.length < 1) {
										document.querySelector('.collect-body').style.display = "block"
										document.querySelector(".wish_loading").style.display = "none"
										return
									}
									var ids = ""
									res.data.records.forEach((item, index) => {
										if (index === 0) {
											ids = `id:${item.productId}`
										} else {
											ids = ids + " OR " + `id:${item.productId}`
										}
									});
									fetch(`/search?q=${ids}&type=product`)
										.then((rs) => {
											return rs.text()
										})
										.then((rs) => {
                                            document.querySelector(".wish_loading").style.display = "none"

											let dom = new DOMParser().parseFromString(rs, 'text/html');

											dom.querySelector(".collection__toolbar").style.display = "none"

											document.querySelector('.collect').appendChild(dom.querySelector(
												".collection__dynamic-part"))

											document.querySelector('.collect').appendChild(dom.querySelector(
												".modal__dialog").parentElement)

											document.querySelector('.pagination__nav').querySelectorAll(".pagination__nav-item")
												.forEach((item, index) => {
													item.addEventListener("click", nextCollectList)
												})
                                            
											
											const removeNodes = document.querySelectorAll(".collect .add-collect")
											document.querySelector(".collect-body").style.display = "none"
											removeNodes.forEach((item, index) => {
												item.addEventListener("click", () => {
													document.querySelectorAll(
															`.collect .product-list .product-item`)[index].style
														.display = "none";
												})
											})

										})
								});
						}
						if ("{{ customer.id}}") {
							getCollectList()
						}


						function nextCollectList(event) {
							if (event) {
								event.preventDefault()
							}
							document.querySelector(".wish_loading").style.display = "flex"
							document.querySelector(".product-list--collection").style.display = "none"

                            document.querySelectorAll(".pagination__nav-item").forEach((item)=>{
								item.className = "pagination__nav-item link"
							})
							event.target.className = "pagination__nav-item link is-active"


							const collectList = {
								current: event.target.innerHTML * 1,
								customerId: "{{customer.id}}",
								size: 24
							}
							post_data("customerCollectionProduct/collectionProductList", collectList)
								.then(res => {
								
									
									if (res.data.records.length < 1) {
										document.querySelector('.collect-body').style.display = "block"
										return
									}
									var ids = ""

									res.data.records.forEach((item, index) => {
										if (index === 0) {
											ids = `id:${item.productId}`
										} else {
											ids = ids + " OR " + `id:${item.productId}`
										}
									});
									fetch(`/search?q=${ids}&type=product`)
										.then((rs) => {
											return rs.text()
										})
										.then((rs) => {
											let dom = new DOMParser().parseFromString(rs, 'text/html');
	
											document.querySelector(".product-list").remove()
											//  document.querySelector('.collection__dynamic-part').appendChild()
											document.querySelector('.collection__dynamic-part').insertBefore(dom.querySelector(
													".product-list"), document.querySelector(".collection__toolbar")
												.nextSibling);

												const removeNodes = document.querySelectorAll(".collect .add-collect")
											document.querySelector(".collect-body").style.display = "none"
											removeNodes.forEach((item, index) => {
												item.addEventListener("click", () => {
													document.querySelectorAll(
															`.collect .product-list .product-item`)[index].style
														.display = "none";
												})
											})
											document.querySelector(".wish_loading").style.display = "none"
											document.querySelector(".product-list--collection").style.display = "flex"
										})
								});
						}

						document.querySelector(".wish_list_quickview").addEventListener("click",wishLishQuickView)
				
					</script>
				</div>


				<div class="card my_orders account_right_content">

					{%- comment -%}
					<div
						class="{% if customer.orders.size == 0 %}card__section card__section--tight{% else %}card__header card__header--tight{% endif %} my_order">
						<h1 class="heading h1">{{ 'customer.general.orders' | t }}
							{% if customer.orders.size > 0 %}({{ customer.orders.size }}){% endif %}</h1>
					</div>
					{%- endcomment -%}
					<div class="hidden-phone">
						
						{% render 'my-order-view' customer:customer%}
					</div>

					<div class="large_pad">
						<div class="order-me container">
							<h2>{{- 'customer.general.orders' | t -}}</h2>
					
							<div class="icon-box">
								<ul class="icons" id="orders-list">
									<li data-item="orders-all" class="current">
										{%- render 'icon', icon: 'cjj_all' -%}<br />
										<span>All</span>
									</li>
									<li data-item="orders-unpaid">
										{%- render 'icon', icon: 'cjj_unpaid' -%}<br />
										<span>Unpaid</span>
									</li>
									<li data-item="orders-processing">
										{%- render 'icon', icon: 'cjj_processing' -%}<br />
										<span>Processing</span>
									</li>
									<li data-item="orders-shipped">
										{%- render 'icon', icon: 'cjj_shipped' -%}<br />
										<span>Shipped</span>
									</li>
									<li data-item="orders-payment">
										{%- render 'icon', icon: 'cjj_payment' -%}<br />
										<span>Payment</span>
									</li>
									<li data-item="orders-completed">
										{%- render 'icon', icon: 'cjj_completed' -%}<br />
										<span>Completed</span>
									</li>
									<li data-item="post-sale">
										{%- render 'icon', icon: 'cjj_post_sale' -%}<br />
										<span>Post-sale</span>
									</li>
								</ul>
							</div>
					
						</div>
						<div class="body-me loading" id="loading">
							{%- render 'icon', icon: 'cjj_loading' -%}
							<span class="loading-text">&nbsp;loading...</span>
						</div>
						<div class="card__section" id="order_null">
							<div class="empty-state empty-state--extra-tight">
								<div class="empty-state__icon">
									{%- render 'icon', icon: 'package' -%}
									<span class="empty-state__count">0</span>
								</div>
								<p class="empty-state__icon-description">{{ 'customer.general.no_orders' | t }}</p>
								<div class="empty-state__button-container">
									<a href="{{ routes.all_products_collection_url }}"
										class="empty-state__button button button--primary">{{ 'customer.general.no_orders_button' | t }}</a>
								</div>
							</div>
						</div>
					
						<div class="body-me" id="body_me">
							<!--渲染订单区域-->
						</div>
						<div class="post" id="post">
							<div class="container">
								<h3>
									{%- render 'icon', icon: 'bi-email' -%}&nbsp;&nbsp;
									<a href="mailto:contactus@hyfol.com" target="_blank" rel="noopener"
										aria-describedby="a11y-new-window-message">contactus@hyfol.com</a>
								</h3>
							</div>
						</div>
						<div class="advert-me container">
							<ul>
								<li><a href="{{ routes.cart_url }}">SHOPPING CART</a></li>
								<li><a href="{{ routes.root_url }}collections/hot-sale">HOT SALE</a></li>
							</ul>
						</div>
					</div>
					{%- comment -%}
					{%- if customer.orders.size == 0 -%}
					<div class="card__section">
						<div class="empty-state empty-state--extra-tight">
							<div class="empty-state__icon">
								{%- render 'icon', icon: 'package' -%}
								<span class="empty-state__count">0</span>
							</div>

							<p class="empty-state__icon-description">{{ 'customer.general.no_orders' | t }}</p>

							<div class="empty-state__button-container">
								<a href="{{ routes.all_products_collection_url }}"
									class="empty-state__button button button--primary">{{ 'customer.general.no_orders_button' | t }}</a>
							</div>
						</div>
					</div>
					{%- else -%}
					{%- paginate customer.orders by 8 -%}
					<div class="table-wrapper">
						<table class="table table--loose">
							<thead>
								<tr>
									<th>{{ 'customer.order.order' | t }}</th>
									<th>{{ 'customer.order.date' | t }}</th>
									<th>{{ 'customer.order.payment_status' | t }}</th>
									<th>{{ 'customer.order.fulfillment_status' | t }}</th>
									<th class="table__cell--right">{{ 'customer.order.total' | t }}</th>
								</tr>
							</thead>

							<tbody>
								{%- for order in customer.orders -%}
								<tr>
									<td><a href="{{ order.customer_url }}"
											class="link link--accented">{{ order.name }}</a></td>
									<td>{{ order.created_at | date: format: 'month_day_year' }}</td>
									<td>{{ order.financial_status_label }}</td>
									<td>{{ order.fulfillment_status_label }}</td>
									<td class="table__cell--right">{{ order.total_price | money }}</td>
								</tr>
								{%- endfor -%}
							</tbody>
						</table>
					</div>
					{%- render 'pagination', paginate: paginate -%}
					{% assign dm_paginate_by = paginate.page_size %}{%- endpaginate -%}
					{%- endif -%}
					{%- endcomment -%}
				</div>
				

				<div class="my_overview account_right_content">
					<div  class="overview-box">
						<h1>Hi  {{customer.first_name}}</h1>
						<ul class="d-flex account-overview__list">
							<li class="d-flex overview-item">
								<span>
									100
								</span>
								<span>
									Coupons 
								</span>
							</li>
							<li class="d-flex overview-item">
								<span>
									100
								</span>
								<span>
									Points
								</span>
							</li>
							<li class="d-flex overview-item">
								<span>
									10
								</span>
								<span>
									Collection
								</span>
							</li>
						</ul>
					</div>
					{%- assign order_unpaid = 0 -%}
					{%- assign order_processing = 0 -%}
					{%- assign order_shipped = 0 -%}
					{%- assign order_payment = 0 -%}
					{%- assign order_completed = 0 -%}

					{%- for order in customer.orders -%}
					{% if order.financial_status=='unpaid' or order.financial_status=='pending' %}
					{%- assign order_unpaid = order_unpaid | plus: 1 -%}
					{% endif%}
					{% if order.fulfillment_status=='on hold' %}
					{%- assign order_processing = order_processing | plus: 1 -%}
					{% endif %}
					{% if order.fulfillment_status=='in progress' %}
					{%- assign order_shipped = order_shipped | plus: 1 -%}
					{% endif%}
					{% if order.financial_status=='paid' %}
					{%- assign order_payment = order_payment | plus: 1 -%}
					{% endif %}
					{% if order.fulfillment_status=='fulfilled' %}
					{%- assign order_completed = order_completed | plus: 1 -%}
					{% endif%}
					{%- endfor -%}
					<div  class="order-preview overview-box">
						<h1>My  Order</h1>
						<ul class="d-flex account-overview__list" >
							<li class="order-preview__item">
								<span class="order-icon">
									{%- render 'icon', icon: 'cjj_all' -%}
									{%- comment -%}
									<span class="empty-state__count redio-icon">{{customer.orders_count}}</span>
									{%- endcomment -%}
								</span>
									<p>All</p>
								</a>
							</li>
							<li class="order-preview__item">
								<span class="order-icon">
									{%- render 'icon', icon: 'cjj_unpaid' -%}
									{%- if order_unpaid!=0 -%}
									<span class="empty-state__count redio-icon">{{order_unpaid}}</span>
									{%- endif -%}
								</span>
								<p>Unpaid</p>
							</li>
							<li class="order-preview__item">
								<span class="order-icon">
									{%- render 'icon', icon: 'cjj_processing' -%}
									{%- if order_processing!=0 -%}
									<span class="empty-state__count redio-icon">{{order_processing}}</span>
									{%- endif -%}
								</span>
								<p>Processing</p>
							</li>
							<li class="order-preview__item">
								<span class="order-icon">
									{%- render 'icon', icon: 'cjj_shipped' -%}
									{%- if order_shipped!=0 -%}
									<span class="empty-state__count redio-icon">{{order_shipped}}</span>
										
									{%- endif -%}
								</span>
								<p>Shipped</p>
							</li>

							<li class="order-preview__item">
								<span class="order-icon">
									{%- render 'icon', icon: 'cjj_payment' -%}
									{%- if order_payment!=0 -%}
									<span class="empty-state__count redio-icon">{{order_payment}}</span>
										
									{%- endif -%}
								</span>
								<p>Payment</p>
							</li>
							<li class="order-preview__item">
								<span class="order-icon">
									{%- render 'icon', icon: 'cjj_completed' -%}
									{%- if order_completed!=0 -%}
									<span class="empty-state__count redio-icon">{{order_completed}}</span>
										
									{%- endif -%}
								</span>
								<p>Completed</p>
							</li>
							<li class="order-preview__item">
								<!-- <a href="mailto:contactus@hyfol.com" target="_blank" rel="noopener" aria-describedby="a11y-new-window-message"> -->
								<span class="order-icon">
										{%- render 'icon', icon: 'cjj_post_sale' -%}<br/>
									</span>
									<p>Post-sale</p>
									<!-- </a> -->
							</li>
						</ul>
					</div>

					<div class="overview-box points-box">
						<h1>Points For</h1>
						<div class="points-img">
						{%- if section.settings.points_rule!= blank -%}
						{%- assign points_image = section.settings.points_rule -%}
						{%- capture supported_sizes -%}{%- render 'image-size', sizes: '200,300,400,500', image: points_image -%}{%- endcapture -%}
						{%- assign image_url = points_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
						 <img class="lazyload" alt="{{ points_image.alt | escape }}" data-src="{{ image_url }}" data-widths="[{{ supported_sizes }}]" data-sizes="auto">
						{%- endif -%}
	
						</div>
					</div>
				</div>

				<div class="my_rewards account_right_content">
					rewards
				</div>

				<div class="my_profile account_right_content">
					profilea
				</div>

				<div class="my_addresses account_right_content">
					addresses
				</div>

				<div class="my_methods account_right_content">
					methods
				</div>

		

		</div>
	</div>
</section>

{% if dm_paginate_by %}{% render 'spurit_dmr_collection_template_snippet', paginate_by: dm_paginate_by %}{% endif %}

<style>
	#shopify-section-footer {
		display: none;
	}

	body {
		min-height: 100vh;
		background: #f0f0f0;
	}

	main ul,
	li {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.header-me {
		background-color: #fff;
	}

	.header-me .logged .name {
		font-family: var(--heading-font-family);
		font-weight: var(--heading-font-weight);
		font-style: var(--heading-font-style);
	}

	.header-me .logged .tab label {
		cursor: pointer;
	}

	.header-me .logged .hi {
		color: var(--link-color);
	}

	.header-me .account-box {
		height: 0;
		overflow: hidden;
		transition: all 0.4s ease;
	}

	#account-input:checked~.account-box {
		height:270px;
		transition: all 0.4s ease;
	}

	.header-me .logged>.tab {
		transition: all 0.4s ease;
	}

	#account-input:checked~.logged>.tab {
		transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		/* IE 9 */
		-moz-transform: rotate(180deg);
		/* Firefox */
		-webkit-transform: rotate(180deg);
		/* Safari 和 Chrome */
		-o-transform: rotate(180deg);
	}

	.header-me .no-logged,
	.header-me .logged {
		display: flex;
		padding: 20px 0;
	}

	.header-me .logged {
		justify-content: space-between;
	}

	.header-me .no-logged li {
		flex: 1 0 auto;
	}

	.header-me .no-logged li a {
		font-family: var(--heading-font-family);
		font-weight: var(--heading-font-weight);
		font-style: var(--heading-font-style);
	}

	.order-me {
		background-color: #fff;
		margin-top: 10px;
	}

	.order-me h2 {
		font-family: var(--heading-font-family);
		font-weight: var(--heading-font-weight);
		font-style: var(--heading-font-style);
		padding: 10px 0;
	}

	.order-me .icon-box {
		overflow-x: scroll;
		width: 100%;
		padding-bottom: 10px;
	}

	.order-me .icons {
		width: 160%;
		display: flex;
		justify-content: space-between;
	}

	.order-me .icons li {
		cursor: pointer;
	}

	.order-me .icon {
		font-size: 2em;
	}

	.order-me span {
		font-size: 0.85rem;
	}

	.order-me .current {
		color: #b82928;
	}

	.body-me {
		margin-top: 10px;
		/* background-color: #f0f0f0; */
	}

	.body-me .card {
		border: none;
	}

	.body-me.loading {
		color: #666666;
		width: 100%;
		height: 60px;
		font-size: 2em;
		text-align: center;
		/* background-color: #FFFFFF; */
	}

	.body-me.loading>svg {
		animation: loading;
		animation-duration: .3s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}

	.body-me.loading>.loading-text {
		font-size: 0.8rem;
	}

	@keyframes loading {
		from {
			transform: rotate(0);
		}

		to {
			transform: rotate(45deg);
		}
	}

	.body-me .card {
		background-color: #f0f0f0;
		padding: 10px;
	}

	.body-me .order-box {
		margin-bottom: 10px;
		border-radius: 5px;
		padding: 20px;
		background-color: #fff;
	}

	.body-me .order-title {
		display: flex;
		justify-content: space-between;
	}

	.body-me .order-title .title-info>span {
		display: block;
	}

	.body-me .order-title .title-info-name {
		font-family: var(--heading-font-family);
		font-weight: var(--heading-font-weight);
		font-style: var(--heading-font-style);
	}

	.body-me .order-title .title-info-data {
		font-size: 0.8rem;
		color: #666666;
	}

	.body-me .order-body {
		padding-top: 10px;
	}

	.body-me .order-body li {
		display: flex;
		justify-content: space-between;
		padding: 5px 0;
	}

	.body-me .order-body .pro-img {
		width: 30%;
	}

	.body-me .order-body .pro-img>div {
		border: 1px solid #dddddd;
		overflow: hidden;
		border-radius: 10px;
	}

	.body-me .order-body .pro-info {
		width: 70%;
		padding: 0 10px;
	}

	.body-me .order-body .pro-info .info-title {
		font-weight: 700;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
	}

	.body-me .order-body .pro-info .info-style {
		display: flex;
		justify-content: space-between;
		color: #666666;
	}

	.body-me .order-footer {
		text-align: right;
	}

	.body-me .order-footer .all-total {
		font-family: var(--heading-font-family);
		font-weight: var(--heading-font-weight);
		font-style: var(--heading-font-style);
		color: #B82928;
	}

	.post {
		background-color: #fff;
		text-align: center;
		min-height: 100px;
		margin-top: 10px;
		display: none;
	}

	.post h3 {
		line-height: 100px;
		font-size: 1.3rem;
	}

	.icon-box li {
		display: inline-block;
		text-align: center;
	}

	.text-l {
		text-align: left;
	}

	.text-r {
		text-align: right;
	}

	.hidden {
		display: none;
	}

	.advert-me {
		background-color: #fff;
		margin-top: 10px;
		min-height: 400px;
	}

	.advert-me ul {
		padding: 50px 20px 0;
	}

	.advert-me li {
		height: 50px;
		line-height: 50px;
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
		background-color: #707070;
	}

	.advert-me li a {
		font-family: var(--heading-font-family);
		font-weight: var(--heading-font-weight);
		font-style: var(--heading-font-style);
		color: #ffffff;
		text-shadow: -2px 1px 3px rgba(0, 0, 0, .5);
	}
</style>
<script>
	~ function () {
		let getDataFlag = false;

		function getData(url, fn) {
			if (getDataFlag) return;
			getDataFlag = true;
			let http = new XMLHttpRequest();
			http.open('GET', url);
			http.send();
			http.onreadystatechange = () => {
				if (http.readyState == 4) {
					getDataFlag = false;
					if (http.status == 200) {
						fn(http.responseText);
					}
				}
			}
		}

		function loading(bool) {
			let loading = document.querySelector('#loading')
			let body_me = document.querySelector('#body_me')
			let nullbox = document.querySelector('#order_null')
			if (bool) {
				loading.style.display = 'block';
				body_me.innerHTML = ''
				nullbox.style.display = 'none'
			} else {
				loading.style.display = 'none';
			}
		}

		function upData(data) {
			loading(false);
			let body_me = document.querySelector('#body_me')
			body_me.style.display = 'block'
			body_me.innerHTML = data
			isnull()
		}

		function isnull() {
			let fag = document.querySelectorAll('.card .order-box')
			let nullbox = document.querySelector('#order_null')
			let body_me = document.querySelector('#body_me')
			if (!fag.length) {
				nullbox.style.display = 'block'
				body_me.style.display = 'none'
			} else {
				nullbox.style.display = 'none'
			}
		}

		function event() {
			let orders_list = document.querySelector("#orders-list")
			let orders_li = document.querySelectorAll("#orders-list>li")
			let post = document.querySelector('#post');
			let body_me = document.querySelector('#body_me')
			orders_list.onclick = (ev) => {
				let target = ev.target;
				if (target.tagName === "LI") {
					for (let i = 0; i < orders_li.length; i++) {
						orders_li[i].classList.remove('current')
					}
					target.classList.add('current')
					let item = target.dataset.item;
					if (item !== 'post-sale') {
						post.style.display = 'none'
						loading(true);
						let url = '?section_id=my-' + item;
						getData(url, upData)
					} else {
						body_me.style.display = 'none'
						post.style.display = 'block'
					}
				}

			}
		}

		function init() {
			let url = '?section_id=my-orders-all';
			let nullbox = document.querySelector('#order_null')
			nullbox.style.display = 'none'
			getData(url, upData)
		}
		event();
		init();
	}()
</script>


{% schema %}
{
		"name": "个人中心左侧导航",
		"settings": [{
			"type":"image_picker",
			"id":"points_rule",
			"label":"积分兑换规则图"
		}],
		"blocks": [{
		"name": "nav_title",
		"type": "trust",
		"settings": [{
			"type": "text",
			"id": "nav_title",
			"label": "Heading",
			"default": "导航标题"
		},
		{
			"type": "text",
			"id": "nav_right",
			"label": "右侧区域对应类名"
		},
		{
			"type": "checkbox",
			"id": "nav_show",
			"label": "是否展示导航",
			"default": true
		},
		{
			"type":"select",
			"id":"nav_icon",
			"options": [{
              "value": "none",
              "label": "无"
            },
			{
				"value":"account-text",
				"label":"文本"
			},
			{
				"value":"account-my",
				"label":"用户"
			},
			{
				"value":"account-logout",
				"label":"退出"
			},
			{
				"value":"account-palay",
				"label":"支付"
			},
			{
				"value":"account-collect",
				"label":"收藏"
			},
			{
				"value":"account-renz",
				"label":"认证"
			},
			{
				"value":"account-cart",
				"label":"购物车"
			},
			{
				"value":"account-location",
				"label":"定位"
			}],
			"default":"none",
			"label":"选择图标"
		}]
		}]
		

}
{% endschema %}